<div class="Layout">
  <button class="MainNavViewButton MainNavViewButton--home" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('WelcomeView')}" ng-click="mainNavCtx.activateView($event)" data-name="WelcomeView">Welcome</button>
  <!--<button class="MainNavViewButton" ng-class="{'MainNavViewButton&#45;&#45;active': mainNavCtx.isActiveView('MarketView')}" ng-click="mainNavCtx.activateView($event)" data-name="MarketView">What's for sale</button>-->
  <!--<button class="MainNavViewButton" ng-class="{'MainNavViewButton&#45;&#45;active': mainNavCtx.isActiveView('AskView')}" ng-click="mainNavCtx.activateView($event)" data-name="AskView">I have something to sell</button>-->
  <!--<button class="MainNavViewButton" ng-class="{'MainNavViewButton&#45;&#45;active': mainNavCtx.isActiveView('GeoView')}" ng-click="mainNavCtx.activateView($event)" data-name="GeoView">Where am I</button>-->
  <!--<button class="MainNavViewButton" ng-class="{'MainNavViewButton&#45;&#45;active': mainNavCtx.isActiveView('ProfileView')}" ng-click="mainNavCtx.activateView($event)" data-name="ProfileView">Profiles</button>-->
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('AboutView')}" ng-click="mainNavCtx.activateView($event)" data-name="AboutView">About</button>
</div>
