<div class="Layout">
  <button class="MainNavViewButton MainNavViewButton--home" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('WelcomeView')}" ng-click="mainNavCtx.activateView($event)" data-name="WelcomeView">Welcome</button>
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('MarketView')}" ng-click="mainNavCtx.activateView($event)" data-name="MarketView">For sale</button>
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('AskView')}" ng-click="mainNavCtx.activateView($event)" data-name="AskView">Sellers</button>
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('GeoView')}" ng-click="mainNavCtx.activateView($event)" data-name="GeoView">Location</button>
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('UserProfileView')}" ng-click="mainNavCtx.activateView($event)" data-name="UserProfileView">Profiles</button>
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('OrgView')}" ng-click="mainNavCtx.activateView($event)" data-name="OrgView">Orgs</button>
  <button class="MainNavViewButton" ng-class="{'MainNavViewButton--active': mainNavCtx.isActiveView('AboutView')}" ng-click="mainNavCtx.activateView($event)" data-name="AboutView">About</button>
</div>
