<div class="MarketAskList__Card">
  <div class="Layout">
    <span class="MarketAskCard__Title">{{ask.productType}} - {{ask.variant}}</span>
  </div>
  <div class="Layout">
    <span class="MarketAskCard__SellerLabel">Seller</span>
    <a href="/#/org/{{ask.seller.handle}}" class="LinkButton">{{ask.seller.handle}}</a>
  </div>
  <div class="Layout Spread">
    <sm-geo-location-display address="ask.address"></sm-geo-location-display>
    <span class="MarketAskCard__Distance">{{ask.distance}} kms</span>
  </div>
  <div class="Layout">
    <span class="MarketAskCard__Time" am-time-ago="ask.lastUpdate"></span>
  </div>
</div>
