<div>
  <h2>What is for sale within</h2>
  <input type="text" ng-model="marketRangeKms" />kms?
  <br />
  <button ng-click="updateMarketRange()">update range</button>
  <div>
    <h3>The following is for sale</h3>
    <ul>
      <li ng-repeat="ask in marketAsks">{{ask.productType}} - {{ask.position.lat}}:{{ask.position.lng}}</li>
    </ul>
    <div id="MarketMap">
      <div id="UserMarketMap" class="UserMarketMap--Main"></div>
      <!--<leaflet id="UserMarketMain" layers="layers" markers="markers" center="center" bounds="bounds" height="500px" width="500px"></leaflet>-->
      <!--<leaflet ng-show="!hasResults" id="UserMarketCentered" markers="markers" center="center" height="500px" width="500px"></leaflet>-->
    </div>

  </div>
</div>
