<div>
  <div ng-show="!currentUser.smCurrentPosition">
    <p>you haven't specified a region you are interested in.  You can do that <button class="LinkButton">here</button></p>
    <p>or you can <button class="LinkButton">see everything</button></p>
  </div>
  <div ng-show="currentUser.smCurrentPosition">
    <h2>What is for sale within</h2>
    <input type="text" ng-model="marketRangeKms" />kms of
    <sm-geo-current-location-display></sm-geo-current-location-display>?<button class="LinkButton" ng-click="$parent.marketCtx.activateView($event)" data-name="GeoView">change</button>
    <br />
    <button ng-click="updateMarketRange()">update range</button>
    <input type="range" min="0" max="10000" ng-model="marketRangeKms" ng-change="sliderUpdateMarketRange()"/>
    <h3>The following is for sale</h3>
    <div class="Layout">
      <div>
        <ul class="MarketAskList MarketAskList--local">
          <li ng-repeat="ask in marketAsks">
            <sm-market-ask-card ask="ask"></sm-market-ask-card>
          </li>
        </ul>

      </div>
      <div id="MarketMap">
        <div id="UserMarketMap" class="UserMarketMap--Main"></div>
      </div>

    </div>
  </div>
  <div>
    most recent for sale
    <ul class="MarketAskList MarketAskList--all">
      <li ng-repeat="ask in userMarketCtx.allAsks" >
        <sm-market-ask-card ask="ask"></sm-market-ask-card>

      </li>
    </ul>
  </div>
</div>
