<div>

    <h2>Where: Market Geo View</h2>
  <p>
    <span>Can we have permission to use your device location? </span>
    <button ng-hide="geoCtx.isLookingUpCurrentLocation" ng-click="getMyPosition()">Use my current location</button>
    <div ng-show="geoCtx.isLookingUpCurrentLocation">Ascertaining current location..</div>
  </p>
  <label ng-show="geoCtx.position">Your position is {{geoCtx.position.properties.name}}</label>
  <p>if not how about describing your location: maybe a city or state, country?</p>
  <textarea ng-model="geoCtx.lookupAddress"></textarea>
  <button ng-click="lookupTargetAddress()">look it up</button>
  <div ng-show="geoCtx.positionChoiceList">
    <ul>
      <li ng-repeat="position in geoCtx.positionChoiceList">
        <button ng-click="selectThisPosition(position)">{{position.display_name}}</button>
      </li>
    </ul>
  </div>
  <p>if not how about pointing to it on a map?</p>
  <leaflet center="center" height="280px" width="640px"></leaflet>
    <p>country drop down</p>
  <p>city dropdown here</p>
  <p>state?</p>
</div>
