<div class="MarketAskList__Card">
  <div class="Layout">
    <span class="MarketAskCard__Title">{{ask.productType}} - {{ask.variant}}</span>
  </div>
  <div class="Layout">
    <span class="MarketAskCard__SellerLabel">Seller</span>
    <button class="LinkButton">{{ask.seller.handle}}</button>
  </div>
  <div class="Layout Spread">
    <span>{{ask.address.city}}, {{ask.address.state}}</span>
    <span class="MarketAskCard__Distance">{{ask.distance}} kms</span>
  </div>
  <div class="Layout">
    <span class="MarketAskCard__Time" am-time-ago="ask.lastUpdate"></span>
  </div>
</div>
