<div>
  this is where market list goes
  What is your range in kilometers?
  <input type="text" ng-model="marketRangeKms" />
  <button ng-click="updateMarketRange()">update range</button>
  <div class="Layout">
    <ul>
      <li ng-repeat="ask in marketAsks">{{ask.productType}} - {{ask.position.lat}}:{{ask.position.lng}}</li>
    </ul>
    <div id="MarketMap">
      <leaflet  id="UserMarketMain" bounds="bounds" center="userMarketCtx.mapCenter" height="500px" width="500px"></leaflet>
    </div>

  </div>
</div>
