<div class="AskForm__Container Layout">

  <div class="AskForm__SubContainer Layout" ng-show="askCtx.currentAsk.productType">
    <div>
      <div>
        <sm-ui-auto-suggest  ng-show="!askCtx.isAskDetailReadOnly" placeholder="eg Cascade" label="Variant" value="askCtx.currentAsk.variant" possible-values="productCtx.currentProductVariants"></sm-ui-auto-suggest>
        <button  ng-show="askCtx.isAskDetailReadOnly" ng-click="askCtx.requestEditCurrentAskVariant()" class="LinkButton">{{askCtx.currentAsk.variant}}</button>
      </div>

      <sm-ui-auto-suggest ng-show="!askCtx.isAskDetailReadOnly" label="Mode" placeholder="eg: T90 pellet, whole, extract" value="askCtx.currentAsk.productMode" possible-values="askCtx.productModes.beerHops"></sm-ui-auto-suggest>
      <button ng-show="askCtx.isAskDetailReadOnly" ng-click="askCtx.requestEditCurrentAskMode()" class="LinkButton">{{askCtx.currentAsk.productMode}}</button>

      <div ng-show="!askCtx.isAskDetailReadOnly">
        <label class="AskForm__Label">
          Quantity available
        </label>
        <input ng-model="askCtx.currentAsk.quantity" type="number" />
        <select class="AskForm__Select" ng-model="askCtx.currentAsk.quantityMeasure" ng-options="option.value as option.value for option in askCtx.measureOptions"></select>

      </div>
      <button ng-show="askCtx.isAskDetailReadOnly" class="LinkButton">{{askCtx.currentAsk.quantity}}  {{askCtx.currentAsk.quantityMeasure}}</button>


      <button ng-show="askCtx.isShowAskPricingButton()" ng-click="askCtx.togglePricingForm()">Pricing</button>

      <div ng-show="askCtx.isShowPricingForm" class="AskWizardContainer__Item AskWizardContainer__PriceItem">
        <sm-ask-price-view></sm-ask-price-view>
      </div>




    </div>
    <div>
      <button ng-show="askCtx.isAskDetailReadOnly" ng-click="askCtx.toggleAskDetailReadOnly()">change</button>
    </div>


  </div>

  <div class="AskForm__SubContainer">
    <sm-ask-what-detail-view  ng-show="askCtx.currentAsk.productType"></sm-ask-what-detail-view>
  </div>

</div>
