<div>

  <div class="Layout">
    <h3>Analysis</h3>
    <button class="LinkButton" ng-click="testCtx.toggleTestEditor()">Add test info</button>
  </div>
  <div ng-show="testCtx.isShowTestEditor">
    <div class="Layout">
      <div>
        <label class="AskForm__Label">
          Alpha (%)
        </label>
        <input class="CurrentTest__Alpha" ng-model="testCtx.currentTest.alpha" type="number" /><span>%</span>
      </div>
      <div>
        <label class="AskForm__Label">
          Test date
        </label>
        <div class="Layout">
          <button ng-click="testCtx.toggleShowDatePicker()"><div class="icon-calendar"></div></button>
          <datepicker date-format="MMM d, y" selector="form-control" datepicker-toggle="false" datepicker-show="{{testCtx.isShowDatePicker}}">
            <input class="DatePicker__Input form-control" ng-model="testCtx.currentTest.date" type="text"/>
          </datepicker>
        </div>
      </div>


    </div>


    <div>
      <label class="AskForm__Label">
        Testing lab info (name, link, address, etc)
      </label>
      <textarea class="TestForm__LabText" ng-model="testCtx.currentTest.lab"></textarea>
      <!--<trix-editor class="TestForm__LabText" angular-trix ng-model="testCtx.currentTest.lab"></trix-editor>-->

    </div>
    <button ng-click="testCtx.saveCurrentTest()">Save test info</button>
  </div>

  <ul>
    <li ng-repeat="test in ask.testHistory">{{test.date}} - Alpha: {{test.alpha}} <button ng-click="askCtx.testCtx.removeTest($index)" class="LinkButton">(x)</button></li>
  </ul>
</div>
