<div class="LotPricingContainer">

  <div class="Layout">
    <div>
      <label>Price:</label>
      <input placeholder="eg: $13" type="number" class="LotPriceInput" ng-model="lotCtx.currentLot.price" />
    </div>
    <div>
      <label>
        per:
      </label>
      <input placeholder="lot size" class="LotSizeInput" type="number" ng-model="lotCtx.currentLot.size" />
      <select ng-model="lotCtx.currentLot.measure" ng-options="option.value as option.value for option in lotCtx.measureOptions"></select>
    </div>

  </div>

  <div class="Layout FlexEnd">
    <button ng-click="addLotPriceToAsk()" >Add price</button>
  </div>
</div>
