<div> <!-- price display section -->
  <label>Pricing</label>
  <dl>
    <dt ng-show="askCtx.currentAsk.productType">what</dt>
    <dd ng-show="askCtx.currentAsk.productType">{{askCtx.currentAsk.productType}} - {{askCtx.currentAsk.variant}} - {{askCtx.productMode}}</dd>
    <dt ng-show="askCtx.currentAsk.lotPrices.length > 0">prices</dt>
    <dd ng-show="askCtx.currentAsk.lotPrices.length > 0">
      <ul>
        <li ng-repeat="price in askCtx.currentAsk.lotPrices">{{price.productMode}} ${{price.price}} per {{price.size}}{{price.measure}}</li>
      </ul>
    </dd>
  </dl>
  <div >
    <!--<button ng-show="!isShowAddLotPrice" ng-click="togglePriceLotForm()">toggle price form</button>-->
  </div>
  <span>{{askCtx.productMode}}</span>
  <sm-ask-price-lot currentAsk="askCtx.currentAsk"></sm-ask-price-lot>

</div>
