<div>
  <div ng-if="askCtx.currentAsk.productType === 'Beer Hops'">


    <!-- if ProductType === 'Beer Hops' -->












    <div>








      <div ng-show="askCtx.isShowAskDescriptionEditor">
        <label class="AskForm__Label">
          Description
        </label>
        <trix-editor class="AskForm__DescriptionText" angular-trix ng-model="askCtx.currentAsk.description"></trix-editor>
      </div>
      <button ng-show="!askCtx.isShowAskDescriptionEditor" ng-click="askCtx.toggleAskDescription()">add description</button>

      <div class="Layout">
        <div>
          <label class="AskForm__Label">
            Crop year
          </label>
          <select class="AskForm__Select" ng-model="askCtx.currentAsk.cropYear"
                  ng-options="year as year for year in askCtx.listOfCropYears" ></select>
        </div>
        <div>
          <label class="AskForm__Label">
            Country of origin
          </label>
          <select class="AskForm__Select" ng-model="askCtx.currentAsk.countryOfOrigin"
                  ng-options="country.Name as country.Name for country in askCtx.listOfCountries" ></select>
        </div>

      </div>
      <div>
        <label class="AskForm__Label">
          Grower
        </label>
        <select class="AskForm__Select" ng-model="askCtx.currentAsk.grower" ng-options="grower as grower.name for grower in askCtx.listOfGrowers"></select>
        <a ui-sref="org" class="LinkButton">Add grower</a>
      </div>


      <sm-ask-test-view ask="askCtx.currentAsk"></sm-ask-test-view>






























    </div>
























  </div>
  <div ng-if="askCtx.currentAsk.productType !== 'Beer Hops'">
    <div>
      <label class="AskVariantDefault__Label">Variant</label>
      <input class="AskVariantDefault__Input" ng-model="askCtx.currentAsk.variant" />
    </div>
    <div>
      <label class="AskVariantDefault__Label">Mode</label>
      <!--<button class="LinkButton" title="What format is the product being sold in? eg: pellet, whole, extract, etc">what is this?</button>-->
      <input placeholder="eg: pellet, whole, extract" class="AskVariantDefault__Input" ng-model="askCtx.productMode" />
    </div>
  </div>

</div>
