<div class="ModuleContainer">
  <div class="Center Layout">
    <div class="AskMainWhatContainer">
      <sm-ui-auto-suggest label="I am selling" placeholder="eg Beer Hops" value="askCtx.currentAsk.productType" possible-values="productCtx.currentProductTypes"></sm-ui-auto-suggest>

    </div>
    <div>
      <span class="AskFormLabel">Your current location: </span>
      <sm-ask-where-view></sm-ask-where-view>
    </div>
  </div>
  <div class="AskWizardContainer Center Layout">
    <div class="AskWizardContainer__Item AskWizardContainer__WhatItem">
      <sm-ask-what-view></sm-ask-what-view>

    </div>
    <div class="AskWizardContainer__Item AskWizardContainer__PriceItem">
      <sm-ask-price-view></sm-ask-price-view>
    </div>
  </div>
  <sm-ask-seller-view></sm-ask-seller-view>
  <div class="Layout" >
    <button ng-click="askCtx.clearCurrentAsk()">cancel</button>
    <button ng-disabled="!askCtx.isCurrentAskValid()" ng-click="saveAsk()">save</button>
  </div>
</div>




