<div ng-controller="AskMainController" class="ModuleContainer">
  <div class="MainCenteredContainer Layout">
    <div>
      <dl>
        <dt ng-show="askCtx.currentAsk.productType">what</dt>
        <dd ng-show="askCtx.currentAsk.productType">{{askCtx.currentAsk.productType}} - {{askCtx.currentAsk.variant}}</dd>
        <dt ng-show="askCtx.currentAsk.lotPrices.length > 0">prices</dt>
        <dd ng-show="askCtx.currentAsk.lotPrices.length > 0">
          <ul>
            <li ng-repeat="price in askCtx.currentAsk.lotPrices">${{price.price}} per {{price.size}}{{price.measure}}</li>
          </ul>
        </dd>
      </dl>
      <div >
        <button ng-show="!isShowAddLotPrice" ng-click="togglePriceLotForm()">toggle price form</button>
      </div>
      <span>{{askCtx.productMode}}</span>
      <sm-lot-form ng-show="isShowAddLotPrice" currentAsk="askCtx.currentAsk"></sm-lot-form>

    </div>
    <div>
      <form class="StandardForm">
        <div ng-hide="askCtx.currentAsk.seller.email" class="AskForm__FieldContainer">
          <label>email</label>
          <input type="text" placeholder="email" ng-class="validationClassNames.askSellerEmailInput" ng-model="askCtx.currentAsk.seller.email" />
          <button class="LinkButton" title="This is the default way we will communicate with you (you can change that). It will not be disclosed or made public without your consent">why?</button>
        </div>
        <div ng-hide="askCtx.currentAsk.seller.handle" class="AskForm__FieldContainer">
          <label>seller handle</label>
          <input type="text" placeholder="seller handle" ng-model="askCtx.currentAsk.seller.handle" />
          <button title="go back" ng-click="askCtx.goBackOneHandleSuggestion()"><</button>
          <button title="go back" ng-click="askCtx.goForwardOneHandleSuggestion()">&gt;</button>

          <button title="show me a new one" ng-click="askCtx.refreshSuggestedHandle()">S</button>
          <label class="AskForm__CheckboxLabel"><input type="checkbox" ng-change="toggleHandleAlphaOnly()" ng-model="askCtx.seller.handleSearchDefaultHandleAlphaOnly">no numbers</label>
          <button class="LinkButton" title="This as your public nickname.  We have made a suggestion for you but you can change it.  It has to be unique.  We are not in the business of name police and we encourage people to be creative but we reserve the right to prevent certain combinations if people complain.">what is this?</button>
        </div>
        <div  class="AskForm__FieldContainer">
          <label>I am selling:</label>
          <button uib-popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
          <div class="Layout DropDownMenuParent">
            <input type="text" class="AskHeadlineInput" ng-model="askCtx.currentAsk.productType"/>
            <button ng-click="productCtx.toggleProductTypeMenu()"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
            <div class="StandardDropDownMenuContainer" ng-show="productCtx.isShowProductTypeMenu">
              <ul class="UDTADropDownList">
                <li class="UDTADropDownListItem" ng-repeat="productType in productCtx.currentProductTypes | orderBy:'name' ">
                  <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductType(productType)">{{productType.name}}</button>
                </li>
              </ul>
            </div>
            <div class="DropDownMenuContainer">
              <ul class="UDTADropDownList">
                <li class="UDTADropDownListItem" ng-repeat="productType in askCtx.productFilters.productTypeDirectMatchCollection">
                  <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductType(productType)">{{productType.name}}</button>
                </li>
              </ul>
              <ul class="UDTADropDownList">
                <li class="UDTADropDownListItem" ng-repeat="productType in askCtx.productFilters.productTypeIndirectMatchCollection">
                  <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductType(productType)">{{productType.name}}</button>
                </li>
              </ul>
            </div>
          </div>
       </div>

        <div>
          <div>
            <div ng-show="askCtx.currentAsk.productType" class="AskForm__FieldContainer Layout">
              <div class="StandardDropDownComponent Layout DropDownMenuParent">
                <input placeholder="variety" type="text" ng-model="askCtx.currentAsk.variant" />

                <div class="DropDownMenuContainer">
                  <ul class="UDTADropDownList">
                    <li class="UDTADropDownListItem" ng-repeat="productVariant in askCtx.productFilters.productVariantDirectMatchCollection">
                      <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductVariant(productVariant)">{{productVariant.name}}</button>
                    </li>
                  </ul>
                  <ul class="UDTADropDownList">
                    <li class="UDTADropDownListItem" ng-repeat="productVariant in askCtx.productFilters.productVariantIndirectMatchCollection">
                      <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductVariant(productVariant)">{{productVariant.name}}</button>
                    </li>
                  </ul>

                </div>
                <button ng-click="productCtx.toggleProductSubTypeMenu()"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
                <div class="StandardDropDownMenuContainer" ng-show="productCtx.isShowProductSubTypeMenu">
                  <ul class="UDTADropDownList">
                    <li class="UDTADropDownListItem" ng-repeat="productSubType in productCtx.currentProductSubTypes">
                      <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductSubType(productSubType)">{{productSubType.name}}</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <label ng-show="!askCtx.currentAsk.productType">What are you selling?</label>
          <div class="Layout">
            <button ng-class="{'ProductModeButton--active': askCtx.isProductModeButtonClassActive('Hop Leaf'), 'ProductModeButton': !askCtx.isProductModeButtonClassActive('Hop Leaf')}" class="ImageChoiceButton" ng-click="askCtx.setCurrentProductMode('Hop Leaf')">
              <img src="./images/hop-leaf.jpg" />
              <span class="ImageChoiceButton__Text">Hop Leaf</span>
            </button>
            <button ng-class="{'ProductModeButton--active': askCtx.isProductModeButtonClassActive('Hop Pellets'), 'ProductModeButton': !askCtx.isProductModeButtonClassActive('Hop Pellets')}" class="ImageChoiceButton" ng-click="askCtx.setCurrentProductMode('Hop Pellets')">
              <img src="./images/hop-pellets.jpg" />
              <span class="ImageChoiceButton__Text">Hop Pellets</span>
            </button>
            <button ng-class="{'ProductModeButton--active': askCtx.isProductModeButtonClassActive('Hop Extract'), 'ProductModeButton': !askCtx.isProductModeButtonClassActive('Hop Extract')}" class="ImageChoiceButton" ng-click="askCtx.setCurrentProductMode('Hop Extract')">
              <img src="./images/hop-extract.jpg" />
              <span class="ImageChoiceButton__Text">Hop Extract</span>
            </button>
            <button ng-class="{'ProductModeButton--active': askCtx.isProductModeButtonClassActive('Hop Hash'), 'ProductModeButton': !askCtx.isProductModeButtonClassActive('Hop Hash')}" class="ImageChoiceButton" ng-click="askCtx.setCurrentProductMode('Hop Hash')">
              <img src="./images/hop-hash.jpg" />
              <span class="ImageChoiceButton__Text">Hop Hash</span>
            </button>
          </div>
        </div>

        <div ng-show="isShowFullDetails">
          <div class="">
            <label>Total quantity:</label>
            <input type="text" ng-model="askCtx.currentAsk.totalQuantity"/>
          </div>
          <ul>
            <li><label><input type="checkbox" />certified organic</label></li>
            <li><label><input type="checkbox" />organically grown</label></li>
          </ul>
          <div class="">
            <label>Details</label>
            <textarea ng-model="askCtx.currentAsk.details"></textarea>
          </div>
        </div>
        <div class="Layout" >
          <button ng-click="askCtx.clearCurrentAsk()">cancel</button>
          <button ng-click="saveAsk()">save</button>
        </div>


      </form>
    </div>

  </div>

</div>
