<div ng-controller="AskMainController">
  <div class="MainCenteredContainer Layout">
    <div>
      <dl>
        <dt ng-show="askCtx.currentAsk.productType">what</dt>
        <dd ng-show="askCtx.currentAsk.productType">{{askCtx.currentAsk.productType}} - {{askCtx.currentAsk.productSubType}}</dd>
        <dt ng-show="askCtx.currentAsk.lotPrices.length > 0">prices</dt>
        <dd ng-show="askCtx.currentAsk.lotPrices.length > 0">
          <ul>
            <li ng-repeat="price in askCtx.currentAsk.lotPrices">${{price.price}} per {{price.size}}{{price.measure}}</li>
          </ul>
        </dd>
      </dl>
    </div>
    <form class="StandardForm">
      <div ng-show="askCtx.currentAsk.productSubType" class="StandardForm__FieldContainer">
        <label>Headline:</label>
        <button uib-popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>
        <input type="text" class="AskHeadlineInput" ng-model="askCtx.currentAsk.headline"/>
      </div>

      <div>
        <div ng-show="!askCtx.currentAsk.productType">
          <label ng-show="!askCtx.currentAsk.productType">What are you selling?</label>
          <button class="ImageChoiceButton" ng-click="askCtx.setCurrentProductType('Hop Leaf')">
            <img src="./images/hop-leaf.jpg" />
            <span class="ImageChoiceButton__Text">Hop Leaf</span>
          </button>
          <br />
          <button class="ImageChoiceButton" ng-click="askCtx.setCurrentProductType('Hop Pellets')">
            <img src="./images/hop-pellets.jpg" />
            <span class="ImageChoiceButton__Text">Hop Pellets</span>
          </button>
        </div>





          <!--<div class="StandardDropDownComponent Layout">-->
            <!--<input placeholder="eg: Hop Pellets" type="text" ng-model="askCtx.currentAsk.productType"/>-->
            <!--<button ng-click="productCtx.toggleProductTypeMenu()"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>-->
            <!--<div class="StandardDropDownMenuContainer" ng-show="productCtx.isShowProductTypeMenu">-->
              <!--<ul class="UDTADropDownList">-->
                <!--<li class="UDTADropDownListItem" ng-repeat="productType in productCtx.currentProductTypes">-->
                  <!--<button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductType(productType)">{{productType.name}}</button>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->

        <div>
          <div ng-show="askCtx.currentAsk.productType" class="StandardForm__FieldContainer Layout">
            <div class="StandardDropDownComponent">
              <input placeholder="variety" type="text" ng-model="askCtx.currentAsk.productSubType" />
              <button ng-click="productCtx.toggleProductSubTypeMenu()"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
              <div class="StandardDropDownMenuContainer" ng-show="productCtx.isShowProductSubTypeMenu">
                <ul class="UDTADropDownList">
                  <li class="UDTADropDownListItem" ng-repeat="productSubType in productCtx.currentProductSubTypes">
                    <button class="UDTADropDownListButton" ng-click="askCtx.setCurrentProductSubType(productSubType)">{{productSubType.name}}</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="StandardForm__FieldContainer" ng-show="askCtx.currentAsk.productSubType">
        <header>
          <h4>Lot pricing</h4>
        </header>
        <ggt-lot-form ng-show="isShowAddLotPrice" currentAsk="askCtx.currentAsk"></ggt-lot-form>
        <button ng-show="!isShowAddLotPrice" ng-click="togglePriceLotForm()">add price options</button>
      </div>
      <div ng-show="isShowFullDetails">
        <div class="StandardForm__FieldContainer">
          <label>Total quantity:</label>
          <input type="text" ng-model="askCtx.currentAsk.totalQuantity"/>
        </div>
        <ul>
          <li><label><input type="checkbox" />certified organic</label></li>
          <li><label><input type="checkbox" />organically grown</label></li>
        </ul>
        <div class="StandardForm__FieldContainer">
          <label>Details</label>
          <textarea ng-model="askCtx.currentAsk.details"></textarea>
        </div>
      </div>
      <div class="Layout" ng-show="askCtx.currentAsk.productSubType">
        <button ng-click="askCtx.clearCurrentAsk()">cancel</button>
        <button ng-disabled="!askCtx.isFormValid()">save</button>
      </div>


    </form>
  </div>

</div>
