<div class="ModuleContainer MarketViewContainer" >
  <!--<button ng-click='toggleModal()'>Open Modal Dialog</button>-->
  <sm-modal-dialog show='modalShown' width='750px' height='60%'>
    <sm-ask-seller-view></sm-ask-seller-view>
  </sm-modal-dialog>
  <div class="Layout">
    <div class="AskMainWhatContainer">
      <sm-ui-auto-suggest label="I am selling" placeholder="eg Beer Hops" value="askCtx.currentAsk.productType" possible-values="productCtx.currentProductTypes"></sm-ui-auto-suggest>

    </div>
    <div>
      <span class="AskFormLabel">Seller:</span>
      <a href="/#/user/{{askCtx.currentAsk.seller.handle}}">{{askCtx.currentAsk.seller.handle}}</a>
      <br />
      <!--<sm-ask-seller-view></sm-ask-seller-view>-->
      <span class="AskFormLabel">Point of sale: </span>
      <sm-ask-where-view></sm-ask-where-view>
    </div>
  </div>
  <div class="AskWizardContainer">
    <sm-ask-what-view></sm-ask-what-view>

    <div class="Layout FlexEnd" >
      <button ng-click="askCtx.clearCurrentAsk()">cancel</button>
      <button class="Button--primary" ng-disabled="!askCtx.isCurrentAskValid()" ng-click="saveAsk()">save</button>
    </div>

  </div>
  <sm-ask-history-view profile="askCtx.currentAsk.seller"></sm-ask-history-view>


</div>




