.SellerInput--invalid {
  border:1px solid red;
}
.SellerInput--nonempty {
  border:1px solid yellow;
  background: #f1f4b3;
}
.SellerInput--valid {
  border:1px solid green;
}
.ProductModeButton {
  img {
   width:50%;
  }
  .ImageChoiceButton__Text {
    color:#444444;

  }
}
.ProductModeButton--active {
  img {
    width: 100%;

  }

}
.AskForm__Label {
  display:block;
}
.AskForm__DescriptionText {
  width:17rem;
}
.AskForm__Container {
  input[type="text"] {
    width:15rem;
  }
  .AutoSuggest__Label {
    display:block;
  }
}
.ImageChoiceButton {
  display:block;
  margin:0;
  padding:0;
  background:transparent;
  border-radius:1.5rem;
  border:1px solid #dddddd;
  overflow:hidden;


  &:hover {
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
    box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
  }
  &:active {
    border-top:1px solid #444444;
    border-left:1px solid #444444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }

  img {
    margin:0;
    padding:0;
  }
  .ImageChoiceButton__Text {
    color:#444444;


  }
}
.DropDownMenuParent {
  position:relative;

  .DropDownMenuContainer {
    position:absolute;
    top:3rem;
    left:.4rem;
    z-index: 4000;
  }
}
.LotPricingContainer {
  border:1px solid #444444;
  border-radius: 1rem;

  .CloseButton {
    float:right;
  }

  .LotPriceInput {
    width:8rem;
  }
  .LotSizeInput {
    width:5rem;
  }
}
.AskWizardContainer {
  background: #fdfdfd;
  padding:.4rem 0 .4rem 0;
}
.AskWizardContainer__Item {
  min-height:22rem;
  max-width:40rem;
  padding:1rem;
  margin:0 3rem 0 3rem;
  border:1px solid #e1e1e1;
  border-radius:.4rem;
}
.AskWizardContainer__WhatItem {
  background: #ffffff;

}
