
.AskForm__FieldContainer {
  label{
    width:12rem;
  }
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
}
.AskForm__CheckboxLabel {
  //max-width:2rem;
}
.AskForm__Select {
  background-color: #ffffff;
  height:3rem;
  //line-height: 2;
}







.AskHeadlineInput {
  display:block;
  width:48rem;
}

.AskMainWhatContainer {
  padding:1.8rem 7rem 1.2rem .2rem;
}

.SellerInput--invalid {
  border:1px solid red;
}
.SellerInput--nonempty {
  border:1px solid yellow;
  background: #f1f4b3;
}
.SellerInput--valid {
  border:1px solid green;
}
.ProductModeButton {
  img {
   width:50%;
  }
  .ImageChoiceButton__Text {
    color:#444444;

  }
}
.ProductModeButton--active {
  img {
    width: 100%;

  }

}
.AskForm__Label {
  display:block;
}

.AskForm__Container {

  .AskForm__SubContainer {
    padding:.5rem 2rem .5rem 2rem;
  }
  input[type="text"] {
    width:25rem;
  }
  .AskForm__DescriptionText {
    width:28.5rem;
  }
  .AutoSuggest__Label {
    display:block;
  }
}
.ImageChoiceButton {
  display:block;
  margin:0;
  padding:0;
  background:transparent;
  border-radius:1.5rem;
  border:1px solid #dddddd;
  overflow:hidden;


  &:hover {
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
    box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
  }
  &:active {
    border-top:1px solid #444444;
    border-left:1px solid #444444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }

  img {
    margin:0;
    padding:0;
  }
  .ImageChoiceButton__Text {
    color:#444444;


  }
}
.DropDownMenuParent {
  position:relative;

  .DropDownMenuContainer {
    position:absolute;
    top:3rem;
    left:.4rem;
    z-index: 4000;
  }
}
.AskFormLabel {
  font-size:80%;
  color:#444444;
}
.AskVariantDefault__Label {
  display:block;
}
.AskVariantDefault__Input {
  width:25rem;
}
.LotPricingContainer {

  .LotPricing_Label {
    width:9rem;
  }

  .CloseButton {
    float:right;
  }

  .LotPriceInput {
    width:7rem;
  }
  .LotSizeInput {
    width:18rem;
  }
  .LotPricingRow {
    margin:.4rem 0 .3rem 0;
  }
}
.AskWizardContainer {
  padding:.4rem 0 .4rem 0;
  max-width:90rem;
}

.AskWizardContainer__Item {
  min-height:22rem;
  width:40rem;
  padding:1rem;
  margin:0 3rem 0 3rem;
  border:1px solid #e1e1e1;
  border-radius:.4rem;
  background: #ffffff;
}
.TestNumber__Label {
  width:10rem;
}
.AskForm__SubLabel {
  display:block;
  color:#777777;
}

