.GeoSection {
  padding:1rem;

  .GeoSection__Container {
    border:1px solid #dddddd;
    border-radius: .7rem;
    padding:.7rem;
    margin-top:.5rem;

  }
}
#FindMapRefreshButton {
  float:right;
}
.CurrentLocationContainer {

  .LocationHistoryContainer {
    position:relative;


    .LocationHistoryList {
      position:absolute;
      top:1.7rem;
      left:.5rem;
      background:#ffffff;
      width:30rem;
      margin:0;

      .LocationHistoryList__Item {
        border:1px solid #eeeeee;
        border-radius: .3rem;
        margin:.12rem 0 .12rem 0;
        padding:.12rem;
      }
    }
  }
}
