.Layout {
  display:flex;
  flex-direction: row;
}
.Column {
  display:flex;
  flex-direction: column;
}
.Center {
  justify-content: center;
}
.AlignCenter {
  align-items: center;
}
.FlexEnd {
  justify-content: flex-end;
}

.Spread {
  justify-content: space-between;
}

.ModuleViewContainer {
  background-color:#ffffff;
  min-height:40rem;
}
