.Layout {
  display:flex;
  flex-direction: row;
}
.Center {
  justify-content: center;
  align-content: center;
}
.FlexEnd {
  justify-content: flex-end;
}

.Spread {
  justify-content: space-between;
}

.ModuleViewContainer {
  background-color:#ffffff;
  min-height:40rem;
}
