
.MarketViewContainer--active {
  display:block;
}
.MarketRange__Input {
  width: 3.5rem;
}
.MarketGrid__Row--zebra {
  background-color:#efefef;

  td {
    border:#fefefe;
  }

}
.MarketGrid__Cell {
  padding:1rem;
}

