
.MarketViewContainer--active {
  display:block;
}

.MarketView__MainView {
  width:84%;
}
.MarketView__Sidebar {
  width:16%;
  background-color: #efefef;
}
.MarketFilter__Label {
  font-weight: normal;
  font-size:87%;
  color:#797979;

  .MarketFilter__InnerLabel {
    display:inline-block;
    margin-left:.3rem;
  }
}
.MarketView__SectionHeader {
  font-size:140%;
  color:#999999;
}
.MarketAskList {
  margin-right:2rem;
}
.MarketMapView__Container {
  padding:1rem;
}
.MarketMap__Container {

}
.MarketRange__Input {
  width: 3.5rem;
}
.MarketGrid__Row--zebra {
  background-color:#efefef;

  td {
    border:#fefefe;
  }

}
.MarketGrid__Cell {
  padding:.7rem .5rem .7rem .5rem;
  white-space: nowrap;
}

