body {
  font-size: 16px;
  width: 100%;
  background-color: #0d3349;
  margin: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[data-id="AppContainer"] {
  margin:0;
  padding:0;
  flex: 1;
}



.MainContainer {
  width:100%;
}
.ExplainerBulletContainer {
  min-height:40rem;
  width:100%;
  margin:0;
  padding:2rem;
  &--alt {
    background-color: #0d3349;
    color:#ffffff;
    padding:5rem;
    font-size: 120%;

  }
}

.CommandButton {
  border:none;
  background:transparent;
}

.AppFooter {
  background:#111111;
  color:#ffffff;
  height:10rem;

  .AppFooter__Nav {
    ul {
      list-style: none;
    }
    .AppFooter__NavItem {
      display:inline-block;
    }
    .AppFooter__NavLink {
      color:#ffffff;
    }
  }
}


.StandardDropDownComponent {
  position:relative;
}
.StandardDropDownMenuContainer {
  position:absolute;
  top:2rem;
  left:1rem;
}
.StandardForm {
  max-width: 50rem;

}
.StandardForm__FieldContainer {
  label{
    min-width:26rem;
  }
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
}
.AskHeadlineInput {
  display:block;
  width:48rem;
}

.UDTADropDownList {
  background-color:#ffffff;
  border:1px solid #eeeeee;
}
.UDTADropDownListButton {
  border:0;
  display:inline-block;
  width:100%;
  background:transparent;
  color:darkblue;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }
}
.ImageChoiceButton {
  margin:0;
  padding:0;
  border:0;
  background:transparent;
  position:relative;
  display:block;
  border-radius:1.5rem;
  border:1px solid #ffffff;
  overflow:hidden;


  &:hover {
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
    box-shadow: 4px 6px 5px 0px rgba(133,133,133,1);
  }
  &:active {
    border-top:1px solid #444444;
    border-left:1px solid #444444;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }

  img {
    margin:0;
    padding:0;
  }
  .ImageChoiceButton__Text {

    position:absolute;
    top:1rem;
    left:.5rem;
    color:#ffffff;


  }
}


@import "layouts";
@import "theme1";
@import "tracking";
@import "contact-input";
@import "hop-report";
@import "user-market";

