@import "theme1-variables";
@import "registration";

.AppContainer {
  background-color:@bg-color-home;
  margin:0;
  padding:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width:1500px;
}
.InnerAppContainer {
  flex: 1;
  background-color:@bg-color-primary;
  padding:.4rem .5rem .4rem .5rem;
  height:100%;

}
.Body--Home {
  .InnerAppContainer {
    flex: 1;
    background-color:#ffffff;
    padding:0;
    height:100%;

  }
  .MainNavViewButton--home {
    visibility: hidden;
  }
}

.LinkButton {
  border:none;
  background:transparent;
  color: blue;
  text-decoration: underline;
  cursor:pointer
}
.CommandButton{
  border:none;
  background:transparent;
  cursor:pointer;
}
.Button {
  color:#444444;
}

.Button--primary {
  background-color: @bg-color-button-primary;
  color: @color-button-primary;
  cursor:pointer;
  padding:.6rem;
  font-size:110%;
  border-radius: .3rem;
}


/* blog post */
.main-article {
  background-color:#ffffff;
  padding:1.5rem 2rem 1.5rem 2rem;

  .article-title {
    margin:1.4rem 1.4rem .1rem 1.4rem;
  }
  h1, h2, h3, h4 {
    color:@bg-color-primary;
  }
  .post-body {
    margin-top:.2rem;
    font-size:118%;
    color:#444444;

    .BlogHeadlineQuote {
      font-size:120%;
      font-style: italic;
      margin:.3rem 0 .3rem 0;
      color:@bg-color-primary;
    }
    pre {
      padding:.6rem;
      background-color:#efefef;
      border-radius:.4rem;
      font-family: monospace, monospace;
    }
    p {
      padding:.4rem;

    }

  }
}

.PageHeader {

  .Branding {

    margin-left:2rem;
    border-radius: 6rem;

    .logo {
      height: 4rem;
    }

    .Title__Tag {
      font-family: Georgia, serif;
      padding:0;
      margin:0;
      font-size:300%;
    }
    .Title__Tag--spot {
      color: #007b29;
    }
    .Title__Tag--market {
      color: #000000;
    }
  }

  .Title {

    display:none;

    h1 {
      text-transform: uppercase;
      color:@color-page-title;
      margin:0;
      font-size:170%;
      font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;

    }

    .Title__SubTitle {
      color:@color-page-subtitle;
      font-size:125%;
      letter-spacing: .1rem;

    }

  }
  .GlobalNav {
    position:relative;

    .NavMenuButton {
      font-size:220%;
      border:0;
      background:transparent;
      color:@bg-color-button-primary;
      cursor:pointer;
    }

    .GlobalNav__List {
      position:absolute;
      top:1.6rem;
      right:.5rem;
      list-style: none;
      padding:0;
      margin:0;
      border:1px solid #dddddd;
      background:#eeeeee;



    }
  }


}

.GlobalNav__ListItem {
  display:block;
  margin:.2rem 0 .2rem 0;
  width:100%;
  border-bottom:1px solid #bbbbbb;
  border-top:1px solid #bbbbbb;
  background:#ffffff;

  .CommandButton {
    width:100%;
    margin:0;
    padding:1rem;
    color:#007b29;
    cursor:pointer;
    display:block;
    font-size:110%;

  }
  margin-right:1rem;
}

.MainNavViewButton {
  color:#999999;
  display: inline-block;
  padding:.7rem;
  background:transparent;
  border:0;
  cursor:pointer;
}
.MainNavViewButton--active {
  background:@bg-color-primary;

  color: #ffffff;
}

.HomeHeroContainer {

  background-image: url("images/home-hero.jpg");
  padding-top:2.1rem;
  height:24rem;
  color:#ffffff;

  .HomeHero__Contact {
    margin-top:2.4rem;
    width:100%;
    background-color:rgba(100, 100, 150, .45);
  }

  .HomeHeroContainer__MainBlob {

    font-size:180%;
    max-width:50rem;
    line-height: 1.15;
    margin-top:.2rem;
    margin-bottom:.4rem;
    letter-spacing: .1rem;
  }
  .HomeHeroContainer__MainBlobQuote {

    font-size:230%;
    max-width:50rem;
    line-height: 1.45;
    margin-top:.5rem;
    margin-bottom:.4rem;
  }
}

.HomeSecondary__Container {
  padding:1rem;
  width:100%;
}
.HomeSecondary__SubContainer {
  border:1px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 1rem;
  padding:1.3rem 2rem 1.3rem 2rem;
  max-width: 25rem;
}
.HomeSecondary__Heading {
  padding:0;
  margin:0;
  font-size:210%;
  color: #007b29;
}
.HomeSecondary__Blurb {
  color: #999999;
  font-size:110%;
}
ul.HomeSecondary__FeatureList {
  font-size:115%;
  padding:0;
  margin:0;
  list-style-type: circle;
  list-style-position: inside;
}
.HomeSecondary__FeatureListItem {
  color:#ffffff;
  background-color:#424244;
  padding:.4rem 1rem .4rem 1rem;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 300;
  height:2.6rem;
  font-size:90%;
  margin:.2rem 0 .2rem 0;
}

.ContactInput {
  max-width:35rem;
  margin-top:1.3rem;
  margin-bottom:2rem;

}
.ContactInput__Input {
  line-height: 2rem;
  height:2rem;
  border:1px solid #111111;
  border-radius:.5rem;
  width:26rem;
  padding-left:1rem;
  font-size:100%;
}
.ContactInput__Label {
  font-size:106%;
  font-weight:500;
  letter-spacing:.2rem;
  display:block;

}
.ContactInput__Label--twitter {
  margin:.5rem;
}
//.ContactInput__Button {
//  padding:.6rem;
//  font-size:110%;
//  border-radius: .3rem;
//}
.ContactInput__CallToAction {
  color:#ffffff;

  &:hover {
    color:#33acfe;
  }
}

/*

Market view
*/
.MarketRange__Container {
  border:1px solid #eeeeee;
  border-radius:.2rem;
}

.AuthReg__ValidationError {
  display:none;
}

/*

  User Reg and login
*/
.AuthTextInput {
  height:1.3rem;
  margin:.3rem auto .3rem auto;
  width:12rem;
  font-size:120%;
}

.AuthReg__ValidationError {
  color:red;
}



.AuthLoginViewContainer {
  min-height:36rem;
}
.HandleForm__Note {
  max-width:26rem;
}
.HandleForm__InputContainer {
  margin-top:1rem;
}
.HandleForm__ButtonContainer {
  margin-bottom:1rem;
}
.HandleForm__Input {
  width:20rem;
}



.BodyHeadline {
  font-size:270%;
  font-weight: 400;
}

.BlogPostPage {
  //background:#ffffff;
}


.MarketViewContainer {
  background-color:#ffffff;
  padding:1rem;
}
.UserProfile_MainView {
  margin-top:2rem;
  padding:1rem;
  font-size:120%;
  color:#999999;

  .UserProfile__KeyPair {
    div {
      border:1px solid #efefef;
      border-radius:.3rem;
      padding:1.2rem;
      width:26rem;

    }
  }
  label {
    display:inline-block;
    padding:1rem;
    font-size:110%;
    width:14rem;
  }


}
.ProfileView__MainBody {
  width:100%;

}

.OrgProfile_MainView {
  margin-top:2rem;
  padding:1rem;
  font-size:120%;
  color:#999999;
  min-height:30rem;

  .OrgProfile__KeyPair {
    div {
      border:1px solid #efefef;
      border-radius:.3rem;
      padding:1.2rem;
      width:26rem;

    }
  }
  label {
    display:inline-block;
    padding:1rem;
    font-size:110%;
    width:14rem;
  }


}
.AppFooter {
  background:#111111;
  color:#ffffff;
  height:6rem;

  .AppFooter__Nav {
    margin-top:1rem;
    padding:0 2rem 0 2rem;

    .AppFooter__NavLink {
      color:#ffffff;
    }
    .AppFooter__NavLink--Copyright {
      font-weight:normal;
      color:#989898;
      text-decoration: none;
      cursor:pointer;
    }
  }
}
/*

smaller than full size

*/
@media (max-width: 1280px) {
  .Title {
    display:none;
  }
  .Title__Tag {
    font-size:130%;
  }
}

/*

small size views

*/
@media (max-width: 740px) {
  .PageHeader {

    .Branding {
      margin-left:.5rem;

      .logo {
        height: 2.5rem;
      }
      .Title__Tag {
        font-size:150%;
        margin-left:.5rem;
      }
    }
    .GlobalNav {
      display:none;
    }
  }
  .HomeSecondary__Container {
    padding:.1rem;
  }
  .HomeHeroContainer {
    background-image: url("images/home-hero-sm.png");
  }
  .HomeHeroContainer__MainBlob {

    font-size:120%;
    line-height: .5;
    margin-top:.1rem;
    margin-bottom:.2rem;
  }
  .HomeHeroContainer__MainBlobQuote {

    font-size:150%;
    line-height: 1;
    margin-top:.3rem;
    margin-bottom:.2rem;
  }
  .HomeSecondary__SubContainer {
    width:100%;

  }
  .ContactInput__Input {
    border-radius:.3rem;
    width:90%;
  }
  .ContactInput__Label--twitter {
    display:none;
  }


  .UserRegistration {
    width:100%;
    padding:0;
    border:0;
    background:#fdfdfd;

  }
  .UserRegistration__Form {
    padding:0 .6rem 0 .6rem;

  }
  .AuthTextInput {
    height:1.3rem;
    margin:.3rem auto .3rem auto;
    width:100%;

  }

  .UserLogin__Form {
    padding:0 .6rem 0 .6rem;
  }





}






