@import "theme1-variables";
@import "registration";

[data-id="AppContainer"] {
  background-color:@bg-color-home;

}

.PageHeader {
  padding-bottom: 9px;
  justify-content: flex-start;

  .Branding {
    width:7rem;
    margin-left:2rem;
    padding:.5rem;
    border-radius: 6rem;
    display:flex;
    justify-content: center;
    align-content: center;


    .logo {
      height: 5.6rem;
    }
  }

  .Title {


    h1 {
      text-transform: uppercase;
      color:@color-page-title;
      margin:0;
      font-size:180%;
      font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;

    }

    .Title__SubTitle {
      margin-left:26rem;
      color:@color-page-subtitle;
      font-size:120%;
      font-family: "Lantinghei SC", "Comic Sans MS", sans-serif;
      font-style:italic;

    }

  }
  .GlobalNav {
    ul {
      list-style: none;

      li {
        display:inline-block;
      }
    }
  }


}


.MainContentContainer {

}
.MainContentContainer--HomePage {

}
.ContactInput {
  margin-top:4rem;
  max-width:70rem;
  padding:6rem;
  border:1px solid #eeeeee;
  border-radius: 2rem;
}
.ContactInput__Input {
  padding:1rem;
  border:1px solid #111111;
  border-radius:1rem;
  width:26rem;
}
.ContactInput__Label {
  font-size:130%;
  display:block;

}
.ContactInput__Button {
  padding:1rem;
  border-radius: .4rem;
}
.Button {
  color:#444444;
}

.Button--primary {
  background-color: @bg-color-button-primary;
  color: @color-button-primary;
}

.BodyHeadline {
  font-size:270%;
  font-weight: 400;
}
.HopBines {
  background-image: url('images/hop-bines.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);


}
.FishMarket {
  background-image: url('images/fish-market.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  font-size:125%;
}
.Pointer {
  background-image: url('images/pointer-block.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#ffffff;
}

.BlogPostPage {
  background:#ffffff;
}
