@import "theme1-variables";
@import "registration";

[data-id="AppContainer"] {
  background-color:@bg-color-home;
  margin:0;
  padding:0;
}

.PageHeader {

  .Branding {

    margin-left:2rem;
    border-radius: 6rem;

    .logo {
      height: 4rem;
    }
    .Title__Tag {
      font-family: Georgia, serif;
      padding:0;
      margin:0;
      font-size:300%;
    }
    .Title__Tag--spot {
      color: #007b29;
    }
    .Title__Tag--market {
      color: #000000;
    }
  }

  .Title {


    h1 {
      text-transform: uppercase;
      color:@color-page-title;
      margin:0;
      font-size:170%;
      font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;

    }

    .Title__SubTitle {
      color:@color-page-subtitle;
      font-size:125%;
      letter-spacing: .1rem;

    }

  }
  .GlobalNav {
    display:none;
    ul {
      list-style: none;
      margin-top:.2rem;
      margin-right:1rem;

      li {
        display:inline-block;
        button, a {
          color:#007b29;

        }
        margin-right:1rem;
      }
    }
  }


}




.HomeHeroContainer {

  background-image: url("images/home-hero.jpg");
  padding-top:2.1rem;
  height:24rem;
  color:#ffffff;

  .HomeHero__Contact {
    margin-top:2.4rem;
    width:100%;
    background-color:rgba(100, 100, 150, .45);
  }

  .HomeHeroContainer__MainBlob {

    font-size:180%;
    max-width:50rem;
    line-height: 1.15;
    margin-top:.2rem;
    margin-bottom:.4rem;
    letter-spacing: .1rem;
  }
  .HomeHeroContainer__MainBlobQuote {

    font-size:230%;
    max-width:50rem;
    line-height: 1.45;
    margin-top:.5rem;
    margin-bottom:.4rem;
  }
}

.HomeSecondary__Container {
  padding:1rem;
  width:100%;
}
.HomeSecondary__SubContainer {
  border:1px solid #eeeeee;
  border-radius: 1rem;
  padding:1.3rem 2rem 1.3rem 2rem;
  max-width: 25rem;
}
.HomeSecondary__Heading {
  padding:0;
  margin:0;
  font-size:210%;
  color: #007b29;
}
.HomeSecondary__Blurb {
  color: #999999;
  font-size:110%;
}
ul.HomeSecondary__FeatureList {
  font-size:115%;
  padding:0;
  margin:0;
  list-style-type: circle;
  list-style-position: inside;
}
.HomeSecondary__FeatureListItem {
  color:#ffffff;
  background-color:#424244;
  padding:.4rem 1rem .4rem 1rem;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 300;
  height:2.6rem;
  font-size:90%;
  margin:.2rem 0 .2rem 0;
}
//

.MainContentContainer {


}
.MainContentContainer--HomePage {

}
.ContactInput {
  max-width:35rem;
  margin-top:1.3rem;
  margin-bottom:2rem;

}
.ContactInput__Input {
  line-height: 2rem;
  height:2rem;
  border:1px solid #111111;
  border-radius:.5rem;
  width:26rem;
  padding-left:1rem;
  font-size:100%;
}
.ContactInput__Label {
  font-size:106%;
  font-weight:500;
  letter-spacing:.2rem;
  display:block;

}
.ContactInput__Label--twitter {
  margin:.5rem;
}
.ContactInput__Button {
  padding:.6rem;
  font-size:110%;
  border-radius: .3rem;
}
.ContactInput__CallToAction {
  color:#ffffff;

  &:hover {
    color:#33acfe;
  }
}







.LinkButton {
  border:none;
  background:transparent;
  color: blue;
  text-decoration: underline;
}
.CommandButton{
  border:none;
  background:transparent;
}



.Button {
  color:#444444;
}

.Button--primary {
  background-color: @bg-color-button-primary;
  color: @color-button-primary;
  cursor:pointer;
}

.BodyHeadline {
  font-size:270%;
  font-weight: 400;
}



.WelcomeMarket {

}


.BlogPostPage {
  background:#ffffff;
}


.AppFooter {
  background:#111111;
  color:#ffffff;
  height:6rem;

  .AppFooter__Nav {
    margin-top:1rem;
    padding:0 2rem 0 2rem;

    .AppFooter__NavLink {
      color:#ffffff;
    }
    .AppFooter__NavLink--Copyright {
      font-weight:normal;
      color:#989898;
      text-decoration: none;
      cursor:pointer;
    }
  }
}
/*

smaller than full size

*/
@media (max-width: 1280px) {
  .Title {
    display:none;
  }
  .Title__Tag {
    font-size:130%;
  }
}

/*

small size views

*/
@media (max-width: 740px) {
  .PageHeader {

    .Branding {
      margin-left:.5rem;

      .logo {
        height: 2.5rem;
      }
      .Title__Tag {
        font-size:150%;
        margin-left:.5rem;
      }
    }
  }
  .HomeSecondary__Container {
    padding:.1rem;
  }
  .HomeHeroContainer {
    background-image: url("images/home-hero-sm.png");
  }
  .HomeHeroContainer__MainBlob {

    font-size:120%;
    line-height: .5;
    margin-top:.1rem;
    margin-bottom:.2rem;
  }
  .HomeHeroContainer__MainBlobQuote {

    font-size:150%;
    line-height: 1;
    margin-top:.3rem;
    margin-bottom:.2rem;
  }
  .HomeSecondary__SubContainer {
    width:100%;

  }
}






