.AutoSuggestContainer {
  position:relative;

  .AutoSuggest__Menu {
    position:absolute;
    top:5.2rem;
    left:.4rem;
    width:25rem;
    border:1px solid #dddddd;
    background-color: #ffffff;
    z-index: 4000;

  }
}
.AutoSuggest__MenuList {
  padding:0;
  margin:0;

}
.AutoSuggest__MenuItemButton {
  border:0;
  background:transparent;
  display:block;
  width:100%;
  text-align: left;

  &:hover {
    background:#eeeeee;
    color:blue;
    text-decoration: underline;
  }
}
