<div class="UserProfile UserProfile__Container Column CenterItems">

  <div class="UserProfile__BannerImageContainer" ng-style="{'background-color':userProfileCtx.currentProfile.bannerBgColor}">
    <div class="UserProfile__BannerBG">
      <img class="UserProfile__BannerImage" src="{{userProfileCtx.currentProfile.bannerImage}}" />
    </div>
    <div class="UserProfile__AvatarContainer">
      <div class="UserProfile__AvatarContainerBG">
        <img  class="UserProfile__AvatarImg" ng-src="{{userProfileCtx.currentProfile.avatarImage}}" />
      </div>
    </div>
  </div>
  <div class="Layout ProfileView__MainBody">
    <div class="UserProfile__ContactContainer">
      <div class="UserProfile__ContactInner">
        <sm-user-profile-contact></sm-user-profile-contact>
      </div>

    </div>
    <div class="UserProfile__BioContainer">
      <div class="UserProfile__BioInner" ng-bind-html="userProfileCtx.currentProfile.bio"></div>

    </div>
  </div>

</div>
