<div class="UserProfile UserProfile__Container FlexEnd Column CenterItems">
  <div ng-class="{'UserProfile__BannerImageContainer--EditMode': userProfileCtx.isEditBannerImageMode, 'UserProfile__BannerImageContainer': !userProfileCtx.isEditBannerImageMode}">

    <div ng-hide="userProfileCtx.isEditAvatarMode || userProfileCtx.isEditBannerImageMode" class="UserProfile__BannerBG"  ng-style="{'background-color':userProfileCtx.currentProfile.bannerBgColor}">
      <img class="UserProfile__BannerImage" src="{{userProfileCtx.currentProfile.bannerImage}}" />
      <button class="LinkButton BannerBG__EditLink" ng-click="userProfileCtx.triggerEditBannerImage()">change background</button>
    </div>
    <button class="LinkButton" ng-click="userProfileCtx.triggerEditBannerImage()">change background</button>
    <sm-ui-canvas-cropper profile="userProfileCtx.currentProfile"
                          selector="banner"
                          width="1500"
                          height="380"
                          property="bannerImage"
                          ng-show="userProfileCtx.isEditBannerImageMode"></sm-ui-canvas-cropper>

    <div ng-hide="userProfileCtx.isEditAvatarMode || userProfileCtx.isEditBannerImageMode" class="UserProfile__AvatarContainer">
      <div class="UserProfile__AvatarContainerBG">
        <img class="UserProfile__AvatarImg" ng-src="{{userProfileCtx.currentProfile.avatarImage}}" />
      </div>
      <button class="LinkButton" ng-click="userProfileCtx.triggerEditAvatar()">change avatar</button>
    </div>

    <sm-ui-canvas-cropper profile="userProfileCtx.currentProfile"
                          selector="avatar"
                          property="avatarImage"
                          ng-show="userProfileCtx.isEditAvatarMode"
                          width="300" height="300"></sm-ui-canvas-cropper>

  </div>
  <div ng-hide="userProfileCtx.isEditBannerImageMode" class="Layout ProfileView__MainBody">

    <div class="UserProfile__ContactContainer">
      <div class="UserProfile__ContactInner">
        <sm-user-profile-contact></sm-user-profile-contact>
        <button ng-show="!userProfileCtx.isEditContactMode" class="LinkButton" ng-click="userProfileCtx.triggerEditContact()">edit contact info</button>
      </div>
    </div>

    <div>
      <!-- tabs about / preferences -->
      <div class="Layout">
        <button ng-click="userProfileCtx.showMainView('about')">About</button>
        <button ng-click="userProfileCtx.showMainView('preferences')">Preferences</button>
      </div>

      <div ng-show="userProfileCtx.amIActive('about')" class="UserProfile__AboutContainer">
        <div ng-show="!userProfileCtx.isEditBioMode" class="UserProfile__BioInner" ng-bind-html="userProfileCtx.currentProfile.bio"></div>
        <button ng-show="!userProfileCtx.isEditBioMode" class="LinkButton" ng-click="userProfileCtx.triggerEditBio()">edit bio</button>
        <div ng-show="userProfileCtx.isEditBioMode" text-angular="" ng-model="userProfileCtx.currentProfile.bio"></div>

        <button ng-show="userProfileCtx.isEditBioMode" class="LinkButton" ng-click="userProfileCtx.saveBio()">save bio</button>
      </div>
      <div  ng-show="userProfileCtx.amIActive('preferences')" class="UserProfile__PreferencesContainer">

        <p>Preferences go here</p>
        <div>
          <ul>
            <li>Default Currency:
              <div class="Layout">
                <div>USD</div>
                <label class="switch">
                  <input type="checkbox" ng-model="userProfileCtx.isDefaultCurrencyChecked" ng-change="userProfileCtx.toggleWeightMeasure()">
                  <div class="slider round"></div>
                </label>
                <div>CAD</div>
              </div>
            </li>
            <li>Default Weight Measure:
              <div class="Layout">
                <div>LBs</div>
                <label class="switch">
                  <input type="checkbox" ng-model="userProfileCtx.isDefaultWeightMeasureChecked" ng-change="userProfileCtx.toggleWeightMeasure()">
                  <div class="slider round"></div>
                </label>
                <div>KGs</div>
              </div>
            </li>
            <li>Default Distance Measure:
              <div class="Layout">
                <div>KMs</div>
                <label class="switch">
                  <input type="checkbox" ng-model="userProfileCtx.isDefaultDistanceMeasureChecked" ng-change="userProfileCtx.toggleDistanceMeasure()">
                  <div class="slider round"></div>
                </label>
                <div>Miles</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>
