<div>
  <div ng-hide="ctx.isPreExistingHandle">
    <div class="Layout CenterItems">
      <h3>Market handle</h3> <span>(this is your public nickname)</span>
    </div>
    <p> We have made a suggestion for you but you can change it.</p>

    <div class="HandleForm__InputContainer Layout CenterItems">
      <input class="HandleForm__Input" type="text" placeholder="user handle" ng-model="handleCtx.currentHandle" />
      <label class="HandleForm__CheckboxLabel"><input type="checkbox" ng-change="handleCtx.toggleHandleAlphaOnly()" ng-model="handleCtx.handleSearchDefaultHandleAlphaOnly">no numbers</label>
    </div>

    <div class="HandleForm__ButtonContainer">
      <button title="go back" ng-click="handleCtx.goBackOneHandleSuggestion()" class="icon-arrow-left2"></button>
      <button title="go forward" ng-click="handleCtx.goForwardOneHandleSuggestion()" class="icon-arrow-right2"></button>
      <button title="show me a new one" ng-click="handleCtx.refreshSuggestedHandle()" class="icon-loop2"></button>
      <button class="LinkButton" title="This is your public nickname.  We have made a suggestion for you but you can change it.  It has to be unique.  We are not in the business of name police and we encourage people to be creative but we reserve the right to prevent certain combinations if people complain.">what is this?</button>
    </div>
    <p class="HandleForm__Note">We encourage people to be creative but reserve the right to deny certain names if deemed too offensive.</p>

  </div>
  <div  ng-show="ctx.isPreExistingHandle">
    <label class="UserHandle__Label">Handle</label>
    <span>{{ctx.handle}}</span>
  </div>
</div>
