<div>
  <div  >
    <div class="Layout Center">
      <h2 class="AuthRegFormTitle">spotmarket forgot password</h2>
    </div>
    <form class="UserRegistration__Form">
      <div class="UserRegistration__FormField">
        <label class="UserRegistration__Label UserRegistration__Label--Required">Email</label>
        <input class="AuthTextInput" type="text" ng-model="forgotPasswordCtx.email" />
      </div>
      <div class="UserRegistration__ButtonContainer Layout FlexEnd">
        <button class="Button--primary" ng-click="forgotPasswordCtx.submitResetPassword()">Reset</button>
      </div>
    </form>

  </div>
</div>
