<div class="UserRegistration">
  <div ng-hide="registrationCtx.registrationComplete" >
    <div class="Layout Center">
      <h2 class="AuthRegFormTitle">spotmarket registration</h2>
    </div>
    <form class="UserRegistration__Form">
      <div class="UserRegistration__FormField">
        <label class="UserRegistration__Label UserRegistration__Label--Required">Email</label>
        <input class="AuthTextInput" type="text" ng-model="registrationCtx.email" />
      </div>
      <div class="UserRegistration__FormField">
        <label class="UserRegistration__Label UserRegistration__Label--Required">Password</label>
        <input class="AuthTextInput" type="password" ng-model="registrationCtx.password" />
      </div>
      <div class="UserRegistration__FormField">
        <label class="UserRegistration__Label UserRegistration__Label--Required">Confirm Password</label>
        <input class="AuthTextInput" type="password" ng-model="registrationCtx.confirmPassword" />
      </div>
      <div class="UserRegistration__ButtonContainer Layout Spread CenterItems">
        <label class="UserRegistration__TAC">
          <input class="UserRegistration__TACAgreeInput" type="checkbox" ng-model="registrationCtx.agreeTAC" />
          <span>I agree to the </span><a href="/termsconditions.html" target="_blank">Terms & conditions</a></label>
        <button class="Button--primary" ng-click="registrationCtx.submitRegistration()">Register</button>
      </div>
    </form>

  </div>
  <div ng-show="registrationCtx.registrationComplete" >
    <p>Thank you a link has been sent to your email address.  Click the link to complete the registration process</p>
  </div>

</div>
