<div class="GeoSection">
  <!--

    LOCATION HISTORY

   -->
  <div class="GeoSection__Container">
    <div class="CurrentLocationContainer">
      Your current location: <sm-geo-current-location-display></sm-geo-current-location-display>
      <div class="Layout">
        <button ng-click="geoCtx.clearCurrentPosition()">clear my current position</button>
        <div class="LocationHistoryContainer">
          <button ng-click="geoCtx.toggleLocationHistory()">location history</button>
          <div class="dropdown" ng-show="geoCtx.isGeoLocationHistoryVisible()">
            <ul class="LocationHistoryList">
              <li class="LocationHistoryList__Item Layout" ng-repeat="location in geoCtx.locationHistory">
                <div>
                  <button class="LinkButton" ng-click="geoCtx.setCurrentUserPosition(location)">
                    {{location.location.address.city}}, {{location.location.address.state}}
                  </button>
                  <p am-time-ago="location.displayTimeSince"></p>
                </div>
                <button class="LinkButton" ng-click="geoCtx.deleteLocationHistory(location)">(X)</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--

    GEO LOOKUP

   -->
  <div class="GeoSection__Container">
    <p>
      <button ng-hide="geoCtx.isLookingUpCurrentLocation" ng-click="getMyPosition()">Use GPS </button>
      <span>(requires your permission)</span>

    <div ng-show="geoCtx.isLookingUpCurrentLocation">Ascertaining current location..</div>
    </p>
  </div>



  <!--

    DESCRIBE LOCATION FOR LOOKUP

   -->
  <div class="GeoSection__Container">
    <!--<div class="Layout">-->

      <!--<form action="" method="post" name="form_citydetails" id="form_citydetails" enctype="multipart/form-data" onsubmit="return false;">-->
        <!--<p>-->
          <!--<b>Please enter</b> your city here to see it work.-->
        <!--</p>-->
        <!--<input ng-model="geoCtx.lookupCity" class="ff_elem" type="text" name="ff_nm_from[]" value="" id="f_elem_city"/>-->
      <!--</form>-->
      <!--<div>-->
        <p>if not how about describing your location: maybe a city or state, country?</p>
        <textarea ng-model="geoCtx.lookupAddress"></textarea>
        <button ng-click="lookupTargetAddress()">look it up</button>
        <div ng-show="geoCtx.positionChoiceList">
          <ul>
            <li ng-repeat="position in geoCtx.positionChoiceList">
              <button ng-click="selectThisPosition(position)">{{position.display_name}}</button>
            </li>
          </ul>
        </div>
      <!--</div>-->
    </div>


  </div>


  <!--

  CHOOSE YOUR POSITION FROM A MAP

  -->
  <div class="GeoSection__Container">
    <button id="FindMapRefreshButton" ng-click="geoCtx.refreshFindMeMap()">@</button>
    <p>if not how about pointing to it on a map?</p>
    <div id="FindMeMap" class="FindMeMap--Main"></div>
  </div>

</div>
