<div class="smAvatarEditor smAvatarEditor__Container Layout">
  <div ng-show="avatarEditorCtx.isShowCropPreview">
    <img ng-src="{{avatarEditorCtx.imageCropResult}}" />
    <div class="smAvatarEditor__ButtonContainer">
      <button ng-show="avatarEditorCtx.isShowReset" ng-click="avatarEditorCtx.stepBack()">Back</button>
      <button ng-show="avatarEditorCtx.isShowReset" ng-click="avatarEditorCtx.resetEditor()">Reset</button>
      <button ng-click="avatarEditorCtx.saveImage()" class="Button--primary">Save</button>
    </div>
  </div>
  <div ng-show="!avatarEditorCtx.isShowCropPreview">
    <sm-ui-image-crop
      data-width="300"
      data-height="300"
      data-shape="circle"
      data-step="imageCropStep"
      data-result="avatarEditorCtx.imageCropResult"
      toggleCropReset="toggleCropReset"
      ng-show="avatarEditorCtx.showImageCropper" >
    </sm-ui-image-crop>
  </div>

</div>

