<div>
  Product Type Editing happens here
  <div>
    <p>show me all of the product types</p>
    <div>
      <ul>
        <li ng-repeat="productType in productTypeCtx.currentProductTypes">
          <button ng-click="editProductType(productType)">{{productType.name}}</button>
          <button ng-click="deleteProductType(productType)">(X)</button>
        </li>
      </ul>
    </div>
    <br />
    <p>I want to add a new one</p>
    <label>Product Type Name</label>
    <input type="text" ng-model="productTypeCtx.currentProductType.name" placeholder="product type name"/>
    <button ng-click="saveCurrentProductType()">save</button>
  </div>
  <div class="Layout">

    <div>
      <p>show me all of the product varieties</p>
      <ul>
        <li ng-repeat="variant in productTypeCtx.currentProductType.variants">
          <button ng-click="editProductVariant(variant)">{{variant.name}}</button>
          <button ng-click="deleteProductVariant(variant)">(X)</button>
        </li>
      </ul>
    </div>

    <div>
      <p>I want to add a new variant</p>
      <label>Product Variant Name</label>
      <input type="text" ng-model="productTypeCtx.currentProductVariant.name" placeholder="product variant name"/>
      <button ng-click="saveCurrentProductVariant()">save</button>

    </div>
  </div>


</div>
