<div>
  <p>Ask Manager</p>
  <div class="Layout Spread">
    <p>Ask Approval Queue:</p><label><input type="checkbox" ng-model="askAdminCtx.isShowDeletedPendingAsks" />Show deleted pending asks</label>
  </div>

  <div>
    <ul>
      <li ng-repeat="filter in askAdminCtx.sortByFilters">
        <button ng-click="askAdminCtx.setSortFilter(filter)">{{filter.displayName}}</button>
      </li>
    </ul>
  </div>
  <ul>
    <li ng-repeat="ask in askAdminCtx.pendingAsks">
      <div class="PendingAskItemContainer">
        <div class="Layout">
          <span>Status:</span><span>{{ask.status}}</span>
        </div>
        <div class="Layout">
          <span>Headline:</span><span>{{ask.headline}}</span>
        </div>
        <div class="Layout">
          <span>Product Type</span><span>{{ask.productType}}</span>
        </div>
        <div class="Layout">
          <span>Product Variant</span><span>{{ask.variant}}</span>
        </div>
        <div class="Layout">
          <span>City/Town</span><span>{{ask.address.city}} {{ask.address.county}}</span>
        </div>
        <div class="Layout">
          <span>State</span><span>{{ask.address.state}}, {{ask.address.country}}</span>
        </div>
        <div class="Layout">
          <span>Submission Date</span><span am-time-ago="ask.createdDate"></span>
        </div>
        <div class="Layout">
          <span>Seller</span><button class="LinkButton">{{ask.seller.handle}}</button>
        </div>
        <div class="Layout">
          <span>Email</span><button class="LinkButton">{{ask.seller.email}}</button>
        </div>
        <div>
          <p>pricing</p>
          <ul>
            <li ng-repeat="lotPrice in ask.lotPrices">{{lotPrice.productMode}}: ${{lotPrice.price}} {{lotPrice.currency}} per {{lotPrice.size}}{{lotPrice.measure}} lot</li>
          </ul>
        </div>
        <div class="Layout FlexEnd">
          <button class="LinkButton" ng-click="askAdminCtx.deletePendingAsk(ask)">Delete</button>
          <button ng-disabled="ask.status === 'deleted'" ng-click="askAdminCtx.approveAsk(ask)">Approve</button>
        </div>
      </div>
    </li>
  </ul>
</div>
