<div>
  <div class="HomeHeroContainer Column FlexEnd CenterItems">
    <div class="Column CenterItems">
      <p class="HomeHeroContainer__MainBlobQuote">Craigslist meets eBay meets facebook for Beer Hops!</p>
      <p class="HomeHeroContainer__MainBlob">A free and open space for local hop producers, brokers and brewers to share, collaborate and do business.</p>
    </div>
    <div class="HomeHero__Contact Layout Center">
      <sm-user-contact-input></sm-user-contact-input>
    </div>
  </div>
  <div class="HomeSecondary__Container Layout Spaced Flow">
    <div class="HomeSecondary__SubContainer">
      <h2 class="HomeSecondary__Heading">Hop Producers</h2>
      <p class="HomeSecondary__Blurb">Post up a profile of your hop yard, where you are and what you are growing and selling</p>
      <ul class="HomeSecondary__FeatureList">
        <li class="HomeSecondary__FeatureListItem">storefront to promote your brand and even process payments</li>
        <li class="HomeSecondary__FeatureListItem">easy to maintain dynamic inventory and availability information</li>
        <li class="HomeSecondary__FeatureListItem">broadcast updates to your followers</li>
      </ul>
    </div>
    <div class="HomeSecondary__SubContainer">
      <h2 class="HomeSecondary__Heading">Brewers</h2>
      <p class="HomeSecondary__Blurb">Find local hop farmers producing the variaties you're looking for</p>
      <ul class="HomeSecondary__FeatureList">
        <li class="HomeSecondary__FeatureListItem">instant awareness of producers local to you</li>
        <li class="HomeSecondary__FeatureListItem">communication and procurment history for future reference</li>
        <li class="HomeSecondary__FeatureListItem">wishlist to signal demand or request for vendors</li>
      </ul>
    </div>
  </div>
</div>
