<div>
  <!--<div class="Layout Center">-->
    <!--<sm-market-main></sm-market-main>-->
  <!--</div>-->
  <div class="ExplainerBulletContainer HopBines Layout Center">
    <sm-user-contact-input></sm-user-contact-input>
  </div>
  <div class="ExplainerBulletContainer ExplainerBulletContainer--alt">
    <a href="{{hopfarmUrl}}" ng-click="linkRequest(hopfarmUrl)">BC Hop Farm Report 2016</a>
    <p>How many times have you heard the term 'the spot market' on the news in a newspaper and never really thought about what it actually means?</p>
    <p>The reality is the 'spot market' is whatever price a farmer can get for their goods based on traditional relationships or technologies (think phone/word of mouth)</p>
    <p>SpotMarket aims to change all that by establishing a more efficient, user friendly platform for farmers and vendors to be aware of what is available locally and provide a mechanism to establish pricing and demand trends. Plus a way to get produce from the farm to market (restaurant/grocer).</p>
  </div>

  <div class="ExplainerBulletContainer--alt">
    The working theory is that there is a viable market emerging around what would traditionally be called 'back to the earth' or 'buy local' movements making use of mobile / real-time / web technologies. (think food hubs with more market focus (price discovery / market intelligence))
  </div>
  <div class="ExplainerBulletContainer FishMarket">
    <h4>Key features</h4>
    <ul>
      <li>Basic market participation is free to avoid any friction (no membership sign up required up front).</li>
      <li>Value added market analytics/metrics collection and analytics will be the core of the value proposition. user registration, usage tracking, pricing metrics will be collected and used to provide insight and market intelligence for a subscriber based revenue stream. (Google analytics)</li>
      <li>Simple storefront and payment processing will also be offed as a value added service (Shopify model)</li>
      <li>Shipping and transport logistics offer an opportunity for an Uber-style model of third-party transport logistics.</li>
    </ul>
  </div>
</div>
