<div>
<div class="HomeHeroContainer Layout Center AlignCenter">
  <p class="HomeHeroContainer__MainBlob">Find local hop farmers producing the variaties you're looking for.  Post up information about your hop yard and what you are growing and selling.</p>
</div>
  <div class="">
    <p>
      Shopify meets eBay meets Craigslist meets Uber for small scale farmers.
      </p>
    <p>
      SpotMarket is a real-time web based application allowing farmers to post items they have for sale (think Craigslist) where vendors receive notifications letting them know what is available in their local market (realtime deal-flow ticker). Vendors can also post up what kinds of things they are looking to buy locally helping farmers understand demand profiles in their region.
</p>
    <p>
      How many times have you heard the term 'the spot market' on the news in a newspaper and never really thought about what it actually means?
</p>
    <p>
      The reality is the 'spot market' is whatever price a farmer can get for their goods based on traditional relationships or technologies (think phone/word of mouth)
</p>
    <p>
      SpotMarket aims to change all that by establishing a more efficient, user friendly platform for farmers and vendors to be aware of what is available locally and provide a mechanism to establish pricing and demand trends. Plus a way to get produce from the farm to market (restaurant/grocer).
    </p>
    <sm-user-contact-input></sm-user-contact-input>
  </div>


  <div >
    <div>
      <p>Basic market participation is free to minimize friction.</p>
      <p>Value added market analytics/metrics collection and analytics will be the core of the value proposition. Usage tracking and pricing metrics will be collected and used to provide insight and market intelligence for a subscriber based revenue stream. (Google analytics)</p>
      <p>Simple storefront and payment processing will also be offed as a value added service (Shopify model)</p>
      <p>Shipping and transport logistics offer an opportunity for an Uber-style model of third-party transport logistics.</p>
    </div>
  </div>
</div>
