<div class="OrgProfile OrgProfile__Container Column">
  <div class="OrgProfile__BannerImageContainer">
    <div class="OrgProfile__BannerBG">
      <img class="OrgProfile__BannerImage" src="{{orgProfileCtx.currentProfile.bannerImage}}" />
    </div>
    <div class="OrgProfile__AvatarContainer">
      <div class="OrgProfile__AvatarContainerBG">
        <img  class="OrgProfile__AvatarImg" ng-src="{{orgProfileCtx.currentProfile.avatarImage}}" />
      </div>
    </div>
  </div>
  <div class="Layout ProfileView__MainBody">
    <div class="OrgProfile__ContactContainer">
      <div class="OrgProfile__ContactInner">
        <sm-org-profile-contact></sm-org-profile-contact>
      </div>

    </div>
    <div class="OrgProfile__BioContainer">
      <div class="OrgProfile__BioInner" ng-bind-html="orgProfileCtx.currentProfile.bio"></div>

    </div>
  </div>

</div>
