/*
http://www.w3schools.com/cssref/css_websafe_fonts.asp
*/
body {
  font-size: 16px;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
ul {
  list-style: none;
}
.AutoSuggestContainer {
  position: relative;
}
.AutoSuggestContainer .AutoSuggest__ToggleButton {
  border: 0;
  background-color: rgba(200, 200, 200, 0.4);
}
.AutoSuggestContainer .AutoSuggest__Menu {
  position: absolute;
  top: 5.2rem;
  left: .4rem;
  width: 25rem;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  z-index: 4000;
}
.AutoSuggest__MenuList {
  padding: 0;
  margin: 0;
}
.AutoSuggest__MenuItemButton {
  border: 0;
  background: transparent;
  display: block;
  width: 100%;
  text-align: left;
}
.AutoSuggest__MenuItemButton:hover {
  background: #eeeeee;
  color: blue;
  text-decoration: underline;
}
.onoffswitch {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "CAD";
  padding-left: 10px;
  background-color: #FA1423;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "USD";
  padding-right: 10px;
  background-color: #223FE3;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.StandardDropDownComponent {
  position: relative;
}
.StandardDropDownMenuContainer {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
.StandardForm {
  max-width: 50rem;
}
.StandardForm__FieldContainer label {
  min-width: 26rem;
}
.StandardForm__FieldContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.UDTADropDownList {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.UDTADropDownListButton {
  border: 0;
  display: inline-block;
  width: 100%;
  background: transparent;
  color: darkblue;
  text-align: left;
}
.UDTADropDownListButton:hover {
  text-decoration: underline;
}
.ProfileAvatarSrcPreviewContainer {
  position: relative;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}
/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  display: block;
}
/* line 3, ../../source/scss/ng-img-crop.scss */
img-crop.fixed-height {
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop.fixed-height canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 14, ../../source/scss/ng-img-crop.scss */
img-crop.full-width {
  text-align: center;
}
/* line 16, ../../source/scss/ng-img-crop.scss */
img-crop.full-width canvas {
  display: inline;
}
/* line 22, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
/* line 28, ../../source/scss/ng-img-crop.scss */
img-crop .loading {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}
/* line 29, ../../source/scss/ng-img-crop.scss */
img-crop .loading .fixed-height {
  height: 100%;
  position: absolute;
}
.dropdown {
  z-index: 4000;
}
.Layout {
  display: flex;
  flex-direction: row;
}
.Column {
  display: flex;
  flex-direction: column;
}
.Center {
  justify-content: center;
}
.CenterContent {
  align-content: center;
}
.CenterItems {
  align-items: center;
}
.FlexEnd {
  justify-content: flex-end;
}
.Spread {
  justify-content: space-between;
}
.Spaced {
  justify-content: space-around;
}
.Flow {
  flex-wrap: wrap;
}
.ModuleViewContainer {
  background-color: #ffffff;
  min-height: 40rem;
}
.UserRegistration {
  border: 1px solid #eeeeee;
  min-width: 50rem;
  padding: 2rem;
  border-radius: 1rem;
}
.UserRegistration .UserRegistration__Label {
  width: 20rem;
}
.UserLogin__Label {
  width: 20rem;
}
[data-id="AppContainer"] {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.PageHeader .Branding {
  margin-left: 2rem;
  border-radius: 6rem;
}
.PageHeader .Branding .logo {
  height: 4rem;
}
.PageHeader .Branding .Title__Tag {
  font-family: Georgia, serif;
  padding: 0;
  margin: 0;
  font-size: 300%;
}
.PageHeader .Branding .Title__Tag--spot {
  color: #007b29;
}
.PageHeader .Branding .Title__Tag--market {
  color: #000000;
}
.PageHeader .Title h1 {
  text-transform: uppercase;
  color: #162071;
  margin: 0;
  font-size: 170%;
  font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;
}
.PageHeader .Title .Title__SubTitle {
  color: #777777;
  font-size: 125%;
  letter-spacing: .1rem;
}
.PageHeader .GlobalNav {
  display: none;
}
.PageHeader .GlobalNav ul {
  list-style: none;
  margin-top: .2rem;
  margin-right: 1rem;
}
.PageHeader .GlobalNav ul li {
  display: inline-block;
  margin-right: 1rem;
}
.PageHeader .GlobalNav ul li button,
.PageHeader .GlobalNav ul li a {
  color: #007b29;
}
.HomeHeroContainer {
  background-image: url("images/home-hero.jpg");
  padding-top: 2.1rem;
  height: 24rem;
  color: #ffffff;
}
.HomeHeroContainer .HomeHero__Contact {
  margin-top: 2.4rem;
  width: 100%;
  background-color: rgba(100, 100, 150, 0.45);
}
.HomeHeroContainer .HomeHeroContainer__MainBlob {
  font-size: 180%;
  max-width: 50rem;
  line-height: 1.15;
  margin-top: .2rem;
  margin-bottom: .4rem;
  letter-spacing: .1rem;
}
.HomeHeroContainer .HomeHeroContainer__MainBlobQuote {
  font-size: 230%;
  max-width: 50rem;
  line-height: 1.45;
  margin-top: .5rem;
  margin-bottom: .4rem;
}
.HomeSecondary__Container {
  padding: 1rem;
  width: 100%;
}
.HomeSecondary__SubContainer {
  border: 1px solid #eeeeee;
  border-radius: 1rem;
  padding: 1.3rem 2rem 1.3rem 2rem;
  max-width: 25rem;
}
.HomeSecondary__Heading {
  padding: 0;
  margin: 0;
  font-size: 210%;
  color: #007b29;
}
.HomeSecondary__Blurb {
  color: #999999;
  font-size: 110%;
}
ul.HomeSecondary__FeatureList {
  font-size: 115%;
  padding: 0;
  margin: 0;
  list-style-type: circle;
  list-style-position: inside;
}
.HomeSecondary__FeatureListItem {
  color: #ffffff;
  background-color: #424244;
  padding: .4rem 1rem .4rem 1rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 300;
  height: 2.6rem;
  font-size: 90%;
  margin: .2rem 0 .2rem 0;
}
.ContactInput {
  max-width: 35rem;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}
.ContactInput__Input {
  line-height: 2rem;
  height: 2rem;
  border: 1px solid #111111;
  border-radius: .5rem;
  width: 26rem;
  padding-left: 1rem;
  font-size: 100%;
}
.ContactInput__Label {
  font-size: 106%;
  font-weight: 500;
  letter-spacing: .2rem;
  display: block;
}
.ContactInput__Label--twitter {
  margin: .5rem;
}
.ContactInput__Button {
  padding: .6rem;
  font-size: 110%;
  border-radius: .3rem;
}
.ContactInput__CallToAction {
  color: #ffffff;
}
.ContactInput__CallToAction:hover {
  color: #33acfe;
}
.LinkButton {
  border: none;
  background: transparent;
  color: blue;
  text-decoration: underline;
}
.CommandButton {
  border: none;
  background: transparent;
}
.Button {
  color: #444444;
}
.Button--primary {
  background-color: #007b29;
  color: #ffffff;
  cursor: pointer;
}
.BodyHeadline {
  font-size: 270%;
  font-weight: 400;
}
.BlogPostPage {
  background: #ffffff;
}
.AppFooter {
  background: #111111;
  color: #ffffff;
  height: 6rem;
}
.AppFooter .AppFooter__Nav {
  margin-top: 1rem;
  padding: 0 2rem 0 2rem;
}
.AppFooter .AppFooter__Nav .AppFooter__NavLink {
  color: #ffffff;
}
.AppFooter .AppFooter__Nav .AppFooter__NavLink--Copyright {
  font-weight: normal;
  color: #989898;
  text-decoration: none;
  cursor: pointer;
}
/*

smaller than full size

*/
@media (max-width: 1280px) {
  .Title {
    display: none;
  }
  .Title__Tag {
    font-size: 130%;
  }
}
/*

small size views

*/
@media (max-width: 740px) {
  .PageHeader .Branding {
    margin-left: .5rem;
  }
  .PageHeader .Branding .logo {
    height: 2.5rem;
  }
  .PageHeader .Branding .Title__Tag {
    font-size: 150%;
    margin-left: .5rem;
  }
  .HomeSecondary__Container {
    padding: .1rem;
  }
  .HomeHeroContainer {
    background-image: url("images/home-hero-sm.png");
  }
  .HomeHeroContainer__MainBlob {
    font-size: 120%;
    line-height: .5;
    margin-top: .1rem;
    margin-bottom: .2rem;
  }
  .HomeHeroContainer__MainBlobQuote {
    font-size: 150%;
    line-height: 1;
    margin-top: .3rem;
    margin-bottom: .2rem;
  }
  .HomeSecondary__SubContainer {
    width: 100%;
  }
}
.TrackTable tr:nth-child(odd) {
  background-color: #eeeeee;
}
.TrackTable__ClipCol {
  max-width: 18rem;
  overflow: hidden;
}
.TrackTable__ClipCol .TrackTable__ClipContainer {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ContactInput button[disabled] {
  background-color: #dddddd;
  color: #aaaaaa;
}
.ContactInput input {
  color: #444444;
}
.ContactInput__Label {
  color: #ffffff;
}
#HopFarmMap {
  height: 30rem;
  width: 900px;
  margin: 0 auto 0 auto;
}
.FarmSizeList {
  list-style: none;
}
.FarmSizeList__ListItem {
  display: inline-block;
}
.FarmSizeList__ListIcon {
  height: 3rem;
}
#HopFarmChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.GeoSection {
  padding: 1rem;
}
.GeoSection .GeoSection__Container {
  border: 1px solid #dddddd;
  border-radius: .7rem;
  padding: .7rem;
  margin-top: .5rem;
}
#FindMapRefreshButton {
  float: right;
}
.CurrentLocationContainer .LocationHistoryContainer {
  position: relative;
}
.CurrentLocationContainer .LocationHistoryContainer .LocationHistoryList {
  position: absolute;
  top: 1.7rem;
  left: .5rem;
  background: #ffffff;
  width: 30rem;
  margin: 0;
}
.CurrentLocationContainer .LocationHistoryContainer .LocationHistoryList .LocationHistoryList__Item {
  border: 1px solid #eeeeee;
  border-radius: .3rem;
  margin: .12rem 0 .12rem 0;
  padding: .12rem;
}
.AskForm__FieldContainer label {
  width: 12rem;
}
.AskForm__FieldContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.AskHeadlineInput {
  display: block;
  width: 48rem;
}
.AskMainWhatContainer {
  padding: 1.8rem 7rem 1.2rem .2rem;
}
.SellerInput--invalid {
  border: 1px solid red;
}
.SellerInput--nonempty {
  border: 1px solid yellow;
  background: #f1f4b3;
}
.SellerInput--valid {
  border: 1px solid green;
}
.ProductModeButton img {
  width: 50%;
}
.ProductModeButton .ImageChoiceButton__Text {
  color: #444444;
}
.ProductModeButton--active img {
  width: 100%;
}
.AskForm__Label {
  display: block;
}
.AskForm__Container input[type="text"] {
  width: 25rem;
}
.AskForm__Container .AskForm__DescriptionText {
  width: 28.5rem;
}
.AskForm__Container .AutoSuggest__Label {
  display: block;
}
.ImageChoiceButton {
  display: block;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 1.5rem;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.ImageChoiceButton:hover {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  -webkit-box-shadow: 4px 6px 5px 0px #858585;
  -moz-box-shadow: 4px 6px 5px 0px #858585;
  box-shadow: 4px 6px 5px 0px #858585;
}
.ImageChoiceButton:active {
  border-top: 1px solid #444444;
  border-left: 1px solid #444444;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ImageChoiceButton img {
  margin: 0;
  padding: 0;
}
.ImageChoiceButton .ImageChoiceButton__Text {
  color: #444444;
}
.DropDownMenuParent {
  position: relative;
}
.DropDownMenuParent .DropDownMenuContainer {
  position: absolute;
  top: 3rem;
  left: .4rem;
  z-index: 4000;
}
.AskFormLabel {
  font-size: 80%;
  color: #444444;
}
.AskVariantDefault__Label {
  display: block;
}
.AskVariantDefault__Input {
  width: 25rem;
}
.LotPricingContainer .LotPricing_Label {
  width: 9rem;
}
.LotPricingContainer .CloseButton {
  float: right;
}
.LotPricingContainer .LotPriceInput {
  width: 7rem;
}
.LotPricingContainer .LotSizeInput {
  width: 7rem;
}
.LotPricingContainer .LotPricingRow {
  margin: .4rem 0 .3rem 0;
}
.AskWizardContainer {
  background: #fdfdfd;
  padding: .4rem 0 .4rem 0;
}
.AskWizardContainer__Item {
  min-height: 22rem;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 3rem 0 3rem;
  border: 1px solid #e1e1e1;
  border-radius: .4rem;
}
.AskWizardContainer__WhatItem {
  background: #ffffff;
}
.MarketViewContainer {
  display: none;
}
.MarketViewContainer--active {
  display: block;
}
.MarketViewButton {
  border: 1px solid #dddddd;
  border-radius: .6rem;
  background: #e1e1e1;
  color: #444444;
}
.MarketViewButton--active {
  background: white;
  color: #000063;
  border-bottom: none;
}
.UserMarketMap--Main {
  height: 40rem;
  width: 40rem;
}
.FindMeMap--Main {
  height: 30rem;
  width: 70rem;
}
.MarketAskList .MarketAskList__Card {
  min-width: 40rem;
  margin: .4rem .7rem .2rem 0;
  border: 1px solid #eeeeee;
  padding: .5rem;
  border-radius: .4rem;
}
.MarketAskList .MarketAskList__Card .MarketAskCard__Title {
  font-size: 108%;
  font-weight: 500;
  color: #666666;
}
.MarketAskList .MarketAskList__Card .MarketAskCard__Distance {
  font-size: 84%;
  color: #999999;
}
.MarketAskList .MarketAskList__Card .MarketAskCard__Time {
  font-size: 84%;
  color: #999999;
}
.MarketAskList .MarketAskList__Card .MarketAskCard__SellerLabel {
  font-size: 84%;
  color: #999999;
}
.PendingAskItemContainer {
  padding: .3rem;
  border: 1px solid #dddddd;
  border-radius: .3rem;
}
