body {
  font-size: 16px;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
ul {
  list-style: none;
}
[data-id="AppContainer"] {
  margin: 0;
  padding: 0;
  flex: 1;
}
.MainContainer {
  width: 100%;
}
.ExplainerBulletContainer {
  min-height: 40rem;
  width: 100%;
  margin: 0;
  padding: 2rem;
}
.ExplainerBulletContainer--alt {
  background-color: #0d3349;
  color: #ffffff;
  padding: 5rem;
  font-size: 120%;
}
.LinkButton {
  border: none;
  background: transparent;
  color: blue;
  text-decoration: underline;
}
.CommandButton {
  border: none;
  background: transparent;
}
.AppFooter {
  background: #111111;
  color: #ffffff;
  height: 10rem;
}
.AppFooter .AppFooter__Nav ul {
  list-style: none;
}
.AppFooter .AppFooter__Nav .AppFooter__NavItem {
  display: inline-block;
}
.AppFooter .AppFooter__Nav .AppFooter__NavLink {
  color: #ffffff;
}
.StandardDropDownComponent {
  position: relative;
}
.StandardDropDownMenuContainer {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
.StandardForm {
  max-width: 50rem;
}
.StandardForm__FieldContainer label {
  min-width: 26rem;
}
.StandardForm__FieldContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.AskForm__FieldContainer label {
  width: 12rem;
}
.AskForm__FieldContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.AskHeadlineInput {
  display: block;
  width: 48rem;
}
.UDTADropDownList {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.UDTADropDownListButton {
  border: 0;
  display: inline-block;
  width: 100%;
  background: transparent;
  color: darkblue;
  text-align: left;
}
.UDTADropDownListButton:hover {
  text-decoration: underline;
}
.AutoSuggestContainer {
  position: relative;
}
.AutoSuggestContainer .AutoSuggest__ToggleButton {
  border: 0;
  background-color: rgba(200, 200, 200, 0.4);
}
.AutoSuggestContainer .AutoSuggest__Menu {
  position: absolute;
  top: 5.2rem;
  left: .4rem;
  width: 25rem;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  z-index: 4000;
}
.AutoSuggest__MenuList {
  padding: 0;
  margin: 0;
}
.AutoSuggest__MenuItemButton {
  border: 0;
  background: transparent;
  display: block;
  width: 100%;
  text-align: left;
}
.AutoSuggest__MenuItemButton:hover {
  background: #eeeeee;
  color: blue;
  text-decoration: underline;
}
.onoffswitch {
  position: relative;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "CAD";
  padding-left: 10px;
  background-color: #FA1423;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "USD";
  padding-right: 10px;
  background-color: #223FE3;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.dropdown {
  z-index: 4000;
}
.Layout {
  display: flex;
  flex-direction: row;
}
.Column {
  display: flex;
  flex-direction: column;
}
.Center {
  justify-content: center;
}
.FlexEnd {
  justify-content: flex-end;
}
.Spread {
  justify-content: space-between;
}
.ModuleViewContainer {
  background-color: #ffffff;
  min-height: 40rem;
}
.UserRegistration {
  border: 1px solid #eeeeee;
  min-width: 50rem;
  padding: 2rem;
  border-radius: 1rem;
}
.UserRegistration .UserRegistration__Label {
  width: 20rem;
}
.UserLogin__Label {
  width: 20rem;
}
[data-id="AppContainer"] {
  background-color: #ffffff;
}
.InnerAppContainer {
  padding: 0 3rem 0 3rem;
}
.Title__TagImage {
  height: 3.6rem;
}
.PageHeader .Branding {
  margin-left: 2rem;
  padding: .5rem;
  border-radius: 6rem;
}
.PageHeader .Branding .logo {
  height: 3.2rem;
}
.PageHeader .Title h1 {
  text-transform: uppercase;
  color: #162071;
  margin: 0;
  font-size: 170%;
  font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;
}
.PageHeader .Title .Title__SubTitle {
  color: #555555;
  font-size: 120%;
  font-family: "Lantinghei SC", "Comic Sans MS", sans-serif;
  font-style: italic;
}
.PageHeader .GlobalNav ul {
  list-style: none;
}
.PageHeader .GlobalNav ul li {
  display: inline-block;
}
.MainContentContainer {
  padding: 1.5rem;
}
.ContactInput {
  margin-top: 4rem;
  max-width: 70rem;
  padding: 6rem;
  border: 1px solid #eeeeee;
  border-radius: 2rem;
  background-color: rgba(100, 100, 150, 0.5);
}
.ContactInput__Input {
  padding: 1rem;
  border: 1px solid #111111;
  border-radius: 1rem;
  width: 26rem;
}
.ContactInput__Label {
  font-size: 106%;
  font-weight: 500;
  letter-spacing: .2rem;
  display: block;
}
.ContactInput__Button {
  padding: .8rem;
  border-radius: 1rem;
}
.ContactInput__CallToAction {
  color: #ffffff;
}
.ContactInput__CallToAction:hover {
  color: #33acfe;
}
.Button {
  color: #444444;
}
.Button--primary {
  background-color: #162071;
  color: #ffffff;
}
.BodyHeadline {
  font-size: 270%;
  font-weight: 400;
}
.HopBines {
  background-image: url('images/hop-bines.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 4px 4px 2px #000000;
}
.FishMarket {
  background-image: url('images/fish-market.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 4px 4px 2px #000000;
  font-size: 125%;
}
.Pointer {
  background-image: url('images/pointer-block.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.BlogPostPage {
  background: #ffffff;
}
.TrackTable tr:nth-child(odd) {
  background-color: #eeeeee;
}
.TrackTable__ClipCol {
  max-width: 18rem;
  overflow: hidden;
}
.TrackTable__ClipCol .TrackTable__ClipContainer {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ContactInput button[disabled] {
  background-color: #dddddd;
  color: #aaaaaa;
}
.ContactInput input {
  color: #444444;
}
.ContactInput__Label {
  color: #ffffff;
}
#HopFarmMap {
  height: 30rem;
  width: 900px;
  margin: 0 auto 0 auto;
}
.FarmSizeList {
  list-style: none;
}
.FarmSizeList__ListItem {
  display: inline-block;
}
.FarmSizeList__ListIcon {
  height: 3rem;
}
#HopFarmChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.GeoSection {
  padding: 1rem;
}
.GeoSection .GeoSection__Container {
  border: 1px solid #dddddd;
  border-radius: .7rem;
  padding: .7rem;
  margin-top: .5rem;
}
#FindMapRefreshButton {
  float: right;
}
.CurrentLocationContainer .LocationHistoryContainer {
  position: relative;
}
.CurrentLocationContainer .LocationHistoryContainer .LocationHistoryList {
  position: absolute;
  top: 1.7rem;
  left: .5rem;
  background: #ffffff;
  width: 30rem;
  margin: 0;
}
.CurrentLocationContainer .LocationHistoryContainer .LocationHistoryList .LocationHistoryList__Item {
  border: 1px solid #eeeeee;
  border-radius: .3rem;
  margin: .12rem 0 .12rem 0;
  padding: .12rem;
}
.AskMainWhatContainer {
  padding: 1.8rem 7rem 1.2rem .2rem;
}
.SellerInput--invalid {
  border: 1px solid red;
}
.SellerInput--nonempty {
  border: 1px solid yellow;
  background: #f1f4b3;
}
.SellerInput--valid {
  border: 1px solid green;
}
.ProductModeButton img {
  width: 50%;
}
.ProductModeButton .ImageChoiceButton__Text {
  color: #444444;
}
.ProductModeButton--active img {
  width: 100%;
}
.AskForm__Label {
  display: block;
}
.AskForm__Container input[type="text"] {
  width: 25rem;
}
.AskForm__Container .AskForm__DescriptionText {
  width: 28.5rem;
}
.AskForm__Container .AutoSuggest__Label {
  display: block;
}
.ImageChoiceButton {
  display: block;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 1.5rem;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.ImageChoiceButton:hover {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  -webkit-box-shadow: 4px 6px 5px 0px #858585;
  -moz-box-shadow: 4px 6px 5px 0px #858585;
  box-shadow: 4px 6px 5px 0px #858585;
}
.ImageChoiceButton:active {
  border-top: 1px solid #444444;
  border-left: 1px solid #444444;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ImageChoiceButton img {
  margin: 0;
  padding: 0;
}
.ImageChoiceButton .ImageChoiceButton__Text {
  color: #444444;
}
.DropDownMenuParent {
  position: relative;
}
.DropDownMenuParent .DropDownMenuContainer {
  position: absolute;
  top: 3rem;
  left: .4rem;
  z-index: 4000;
}
.AskFormLabel {
  font-size: 80%;
  color: #444444;
}
.AskVariantDefault__Label {
  display: block;
}
.AskVariantDefault__Input {
  width: 25rem;
}
.LotPricingContainer .LotPricing_Label {
  width: 9rem;
}
.LotPricingContainer .CloseButton {
  float: right;
}
.LotPricingContainer .LotPriceInput {
  width: 7rem;
}
.LotPricingContainer .LotSizeInput {
  width: 7rem;
}
.LotPricingContainer .LotPricingRow {
  margin: .4rem 0 .3rem 0;
}
.AskWizardContainer {
  background: #fdfdfd;
  padding: .4rem 0 .4rem 0;
}
.AskWizardContainer__Item {
  min-height: 22rem;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 3rem 0 3rem;
  border: 1px solid #e1e1e1;
  border-radius: .4rem;
}
.AskWizardContainer__WhatItem {
  background: #ffffff;
}
.MarketViewContainer {
  display: none;
}
.MarketViewContainer--active {
  display: block;
}
.MarketViewButton {
  border: 1px solid #dddddd;
  border-radius: .6rem;
  background: #e1e1e1;
  color: #444444;
}
.MarketViewButton--active {
  background: white;
  color: #000063;
  border-bottom: none;
}
.MarketAskList .MarketAskList__Card {
  margin: .4rem 0 .2rem 0;
  border: 1px solid #eeeeee;
  border-radius: .4rem;
}
.UserMarketMap--Main {
  height: 40rem;
  width: 40rem;
}
.FindMeMap--Main {
  height: 30rem;
  width: 70rem;
}
.PendingAskItemContainer {
  padding: .3rem;
  border: 1px solid #dddddd;
  border-radius: .3rem;
}
