body {
  font-size: 16px;
  width: 100%;
  background-color: #0d3349;
  margin: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
[data-id="AppContainer"] {
  margin: 0;
  padding: 0;
}
.InnerAppContainer {
  flex-direction: column;
}
.ExplainerBulletContainer {
  min-height: 40rem;
  width: 100%;
  margin: 0;
  padding: 2rem;
}
.ExplainerBulletContainer--alt {
  background-color: #0d3349;
  color: #ffffff;
  padding: 5rem;
  font-size: 120%;
}
.AppFooter {
  background: #111111;
  color: #ffffff;
  height: 10rem;
}
.AppFooter .AppFooter__Nav ul {
  list-style: none;
}
.AppFooter .AppFooter__Nav .AppFooter__NavItem {
  display: inline-block;
}
.AppFooter .AppFooter__Nav .AppFooter__NavLink {
  color: #ffffff;
}
.StandardDropDownComponent {
  position: relative;
}
.StandardDropDownMenuContainer {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
.StandardForm {
  max-width: 50rem;
}
.StandardForm__FieldContainer label {
  min-width: 26rem;
}
.StandardForm__FieldContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.AskHeadlineInput {
  display: block;
  width: 48rem;
}
.UDTADropDownList {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.UDTADropDownListButton {
  border: 0;
  display: inline-block;
  width: 100%;
  background: transparent;
  color: darkblue;
  text-align: left;
}
.UDTADropDownListButton:hover {
  text-decoration: underline;
}
.ImageChoiceButton {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
  display: block;
  border-radius: 1.5rem;
  border: 1px solid #ffffff;
  overflow: hidden;
}
.ImageChoiceButton:hover {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  -webkit-box-shadow: 4px 6px 5px 0px #858585;
  -moz-box-shadow: 4px 6px 5px 0px #858585;
  box-shadow: 4px 6px 5px 0px #858585;
}
.ImageChoiceButton:active {
  border-top: 1px solid #444444;
  border-left: 1px solid #444444;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ImageChoiceButton img {
  margin: 0;
  padding: 0;
}
.ImageChoiceButton .ImageChoiceButton__Text {
  position: absolute;
  top: 1rem;
  left: .5rem;
  color: #ffffff;
}
.Layout {
  display: flex;
  flex-direction: row;
}
.Center {
  justify-content: center;
  align-content: center;
}
.ModuleViewContainer {
  background-color: #ffffff;
  min-height: 40rem;
}
[data-id="AppContainer"] {
  background-color: #ffffff;
}
.PageHeader {
  padding-bottom: 9px;
  justify-content: flex-start;
}
.PageHeader .branding {
  width: 7rem;
  margin-left: 2rem;
  padding: .5rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.PageHeader .branding .logo {
  height: 5.6rem;
}
.PageHeader .Title h1 {
  text-transform: uppercase;
  color: #162071;
  margin: 0;
  font-size: 180%;
  font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;
}
.PageHeader .Title .Title__SubTitle {
  margin-left: 26rem;
  color: #555555;
  font-size: 120%;
  font-family: "Lantinghei SC", "Comic Sans MS", sans-serif;
  font-style: italic;
}
.MoreInfo {
  margin-top: 4rem;
  max-width: 70rem;
  padding: 6rem;
  border: 1px solid #eeeeee;
  border-radius: 2rem;
}
.MoreInfo__Input {
  padding: 1rem;
  border: 1px solid #111111;
  border-radius: 1rem;
}
.MoreInfo__Label {
  font-size: 130%;
  display: block;
}
.Button {
  color: #444444;
}
.Button--primary {
  background-color: #162071;
  color: #ffffff;
}
.BodyHeadline {
  font-size: 270%;
  font-weight: 400;
}
.HopBines {
  background-image: url('images/hop-bines.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 4px 4px 2px #000000;
}
.FishMarket {
  background-image: url('images/fish-market.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 4px 4px 2px #000000;
  font-size: 125%;
}
.Pointer {
  background-image: url('images/pointer-block.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.BlogPostPage {
  background: #ffffff;
}
#HopFarmMap {
  height: 30rem;
  width: 900px;
  margin: 0 auto 0 auto;
}
.FarmSizeList {
  list-style: none;
}
.FarmSizeList__ListItem {
  display: inline-block;
}
.FarmSizeList__ListIcon {
  height: 3rem;
}
#HopFarmChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
