<header  class="PageHeader Layout">
  <div class="Branding">
    <!--<a ui-sref="home"><img src="images/logo.png" alt="logo" class="logo"></a>-->
    <sm-tracked-command class-name="CommandButton"
                         action="home, navRequest">
      <img src="images/logo.png" alt="logo" class="logo">
    </sm-tracked-command>
  </div>
  <div class="Title">
    <h1>Spot Market</h1>
    <p class="Title__SubTitle">A market space serving local farmers and vendors</p>
  </div>
  <nav class="GlobalNav">
    <ul>
      <li>
        <sm-tracked-command class-name="CommandButton"
                             action="register, globalNav"
                             label="Register">
        </sm-tracked-command>
      </li>
    </ul>
  </nav>
</header>
