<header  class="PageHeader Layout Spread">
  <div class="Branding Layout AlignCenter">
    <!--<a ui-sref="home"><img src="images/logo.png" alt="logo" class="logo"></a>-->
    <a href="/" title="Spotmarket home" ng-click="linkRequest('/')">
      <img src="images/logo.png" alt="logo" class="logo">
    </a>
    <p class="Title__Tag Layout"><span class="Title__Tag--spot">spot</span><span class="Title__Tag--market">market</span></p>
  </div>
  <div class="Title">
    <p class="Title__SubTitle">= (farmers + hops) / brewers</p>
  </div>
  <nav class="GlobalNav">
    <ul>
      <li>
        <sm-user-header-logout></sm-user-header-logout>
      </li>
      <li>
        <sm-user-header-register></sm-user-header-register>
      </li>
    </ul>
  </nav>
</header>
